In [1]:
#### Import Section
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import env
import wrangle_zillow
from os.path import exists

from itertools import product
from scipy.stats import levene , pearsonr, spearmanr, mannwhitneyu, f_oneway, ttest_ind
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, TweedieRegressor, LassoLars
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import RFE, f_regression, SelectKBest

import warnings
warnings.filterwarnings("ignore")

# Model
Using scaled dataset

In [2]:
df, train, validate, test, train_scaled, validate_scaled, test_scaled   = wrangle_zillow.wrangle_zillow()

(28985, 21) (12423, 21) (10352, 21)
-----
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51760 entries, 1727539 to 1187175
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   basementsqft                51760 non-null  float64
 1   bathrooms                   51760 non-null  float64
 2   bedrooms                    51760 non-null  float64
 3   area                        51760 non-null  float64
 4   county                      51760 non-null  object
 5   garagecarcnt                51760 non-null  float64
 6   garagetotalsqft             51760 non-null  float64
 7   latitude                    51760 non-null  float64
 8   longitude                   51760 non-null  float64
 9   lotsizesquarefeet           51760 non-null  float64
 10  poolcnt                     51760 non-null  float64
 11  structuretaxvaluedollarcnt  51760 non-null  float64
 12  home_value                  51760 non-null  float64
 13  landtaxvaluedollarcnt       51760 non-null  float64
 14  logerror                    51760 non-null  float64
 15  aircon                      51760 non-null  object
 16  heating                     51760 non-null  object
 17  age                         51760 non-null  float64
 18  logerror_bin                51760 non-null  category
 19  home_size                   51760 non-null  category
 20  est_tax_rate                51760 non-null  float64
dtypes: category(2), float64(16), object(3)
memory usage: 8.0+ MB
None
---
DataFrame describe:

       basementsqft     bathrooms      bedrooms          area  garagecarcnt  \
count  51760.000000  51760.000000  51760.000000  51760.000000  51760.000000
mean       0.616538      2.297952      3.305564   1918.598957      0.674981
std       29.471366      1.010962      0.933927    994.307377      0.982263
min        0.000000      0.000000      0.000000    128.000000      0.000000
25%        0.000000      2.000000      3.000000   1268.000000      0.000000
50%        0.000000      2.000000      3.000000   1657.000000      0.000000
75%        0.000000      3.000000      4.000000   2301.000000      2.000000
max     3560.000000     13.000000     11.000000  21929.000000     14.000000

       garagetotalsqft      latitude     longitude  lotsizesquarefeet  \
count     51760.000000  5.176000e+04  5.176000e+04       5.176000e+04
mean        171.748918  3.402188e+07 -1.181935e+08       1.122456e+04
std         253.430493  2.737400e+05  3.567407e+05       8.669043e+04
min           0.000000  3.334085e+07 -1.194754e+08       2.360000e+02
25%           0.000000  3.382656e+07 -1.183998e+08       5.580750e+03
50%           0.000000  3.402164e+07 -1.181519e+08       6.837000e+03
75%         432.000000  3.418688e+07 -1.179289e+08       8.776000e+03
max        4251.000000  3.481877e+07 -1.175546e+08       6.971010e+06

            poolcnt  structuretaxvaluedollarcnt    home_value  \
count  51760.000000                5.176000e+04  5.176000e+04
mean       0.212365                1.947939e+05  5.242664e+05
std        0.408986                2.507426e+05  7.109900e+05
min        0.000000                1.290000e+02  3.254000e+03
25%        0.000000                7.702825e+04  1.935095e+05
50%        0.000000                1.313730e+05  3.727900e+05
75%        0.000000                2.246910e+05  6.157250e+05
max        1.000000                9.164901e+06  2.538125e+07

       landtaxvaluedollarcnt      logerror           age  est_tax_rate
count           5.176000e+04  51760.000000  51760.000000  51760.000000
mean            3.294725e+05      0.018186     58.691074      0.013335
std             5.188245e+05      0.175688     22.957546      0.005620
min             1.610000e+02     -4.655420      6.000000      0.000094
25%             7.557475e+04     -0.024590     43.000000      0.011634
50%             2.176410e+05      0.006911     62.000000      0.012325
75%             4.073015e+05      0.040482     72.000000      0.013677
max             2.233550e+07      5.262999    144.000000      0.493647
---
DataFrame null value asssessment:

Nulls By Column:                             num_rows_missing  percent_rows_missing
basementsqft                               0                   0.0
bathrooms                                  0                   0.0
bedrooms                                   0                   0.0
area                                       0                   0.0
county                                     0                   0.0
garagecarcnt                               0                   0.0
garagetotalsqft                            0                   0.0
latitude                                   0                   0.0
longitude                                  0                   0.0
lotsizesquarefeet                          0                   0.0
poolcnt                                    0                   0.0
structuretaxvaluedollarcnt                 0                   0.0
home_value                                 0                   0.0
landtaxvaluedollarcnt                      0                   0.0
logerror                                   0                   0.0
aircon                                     0                   0.0
heating                                    0                   0.0
age                                        0                   0.0
logerror_bin                               0                   0.0
home_size                                  0                   0.0
est_tax_rate                               0                   0.0
----
Nulls By Row:    num_cols_missing  percent_cols_missing     id
0                 0                   0.0  51760
value_counts:

Column Names: basementsqft
(-3.561, 356.0]     51731
(356.0, 712.0]         15
(712.0, 1068.0]         7
(1068.0, 1424.0]        3
(1424.0, 1780.0]        0
(1780.0, 2136.0]        2
(2136.0, 2492.0]        0
(2492.0, 2848.0]        0
(2848.0, 3204.0]        1
(3204.0, 3560.0]        1
Name: basementsqft, dtype: int64
---
Column Names: bathrooms
(-0.013999999999999999, 1.3]     9484
(1.3, 2.6]                      26496
(2.6, 3.9]                      11432
(3.9, 5.2]                       3600
(5.2, 6.5]                        571
(6.5, 7.8]                        103
(7.8, 9.1]                         65
(9.1, 10.4]                         5
(10.4, 11.7]                        3
(11.7, 13.0]                        1
Name: bathrooms, dtype: int64
---
Column Names: bedrooms
(-0.012, 1.1]      627
(1.1, 2.2]        8226
(2.2, 3.3]       23173
(3.3, 4.4]       15065
(4.4, 5.5]        3908
(5.5, 6.6]         625
(6.6, 7.7]         102
(7.7, 8.8]          23
(8.8, 9.9]           8
(9.9, 11.0]          3
Name: bedrooms, dtype: int64
---
Column Names: area
(106.198, 2308.1]     38928
(2308.1, 4488.2]      11645
(4488.2, 6668.3]        975
(6668.3, 8848.4]        156
(8848.4, 11028.5]        39
(11028.5, 13208.6]       12
(13208.6, 15388.7]        1
(15388.7, 17568.8]        2
(17568.8, 19748.9]        0
(19748.9, 21929.0]        2
Name: area, dtype: int64
---
Column Names: county
LA County         33413
Orange County     14003
Ventura County     4344
Name: county, dtype: int64
Column Names: garagecarcnt
(-0.015, 1.4]    36069
(1.4, 2.8]       14752
(2.8, 4.2]         869
(4.2, 5.6]          45
(5.6, 7.0]          15
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
---
Column Names: garagetotalsqft
(-4.252000000000001, 425.1]    38252
(425.1, 850.2]                 13134
(850.2, 1275.3]                  321
(1275.3, 1700.4]                  37
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
---
Column Names: latitude
(33339373.083, 33488642.6]      751
(33488642.6, 33636434.2]       3181
(33636434.2, 33784225.8]       6037
(33784225.8, 33932017.4]      10876
(33932017.4, 34079809.0]       8934
(34079809.0, 34227600.6]      12272
(34227600.6, 34375392.2]       4565
(34375392.2, 34523183.8]       1748
(34523183.8, 34670975.4]       2175
(34670975.4, 34818767.0]       1221
Name: latitude, dtype: int64
---
Column Names: longitude
(-119477336.781, -119283338.0]      159
(-119283338.0, -119091260.0]       1285
(-119091260.0, -118899182.0]       1050
(-118899182.0, -118707104.0]       1769
(-118707104.0, -118515026.0]       3779
(-118515026.0, -118322948.0]       9167
(-118322948.0, -118130870.0]       9928
(-118130870.0, -117938792.0]      11139
(-117938792.0, -117746714.0]       9054
(-117746714.0, -117554636.0]       4430
Name: longitude, dtype: int64
---
Column Names: lotsizesquarefeet
(-6734.775000000001, 697313.4]    51741
(697313.4, 1394390.8]                 8
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
---
Column Names: poolcnt
(-0.002, 0.1]    40768
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       10992
Name: poolcnt, dtype: int64
---
Column Names: structuretaxvaluedollarcnt
(-9035.773000000001, 916606.2]    50875
(916606.2, 1833083.4]               732
(1833083.4, 2749560.6]               95
(2749560.6, 3666037.8]               35
(3666037.8, 4582515.0]                8
(4582515.0, 5498992.2]                7
(5498992.2, 6415469.4]                2
(6415469.4, 7331946.6]                1
(7331946.6, 8248423.8]                4
(8248423.8, 9164901.0]                1
Name: structuretaxvaluedollarcnt, dtype: int64
---
Column Names: home_value
(-22123.997, 2541053.6]     50944
(2541053.6, 5078853.2]        634
(5078853.2, 7616652.8]        122
(7616652.8, 10154452.4]        33
(10154452.4, 12692252.0]       10
(12692252.0, 15230051.6]        5
(15230051.6, 17767851.2]        5
(17767851.2, 20305650.8]        3
(20305650.8, 22843450.4]        1
(22843450.4, 25381250.0]        3
Name: home_value, dtype: int64
---
Column Names: landtaxvaluedollarcnt
(-22174.34, 2233694.9]      51299
(2233694.9, 4467228.8]        338
(4467228.8, 6700762.7]         87
(6700762.7, 8934296.6]         15
(8934296.6, 11167830.5]        11
(11167830.5, 13401364.4]        4
(13401364.4, 15634898.3]        2
(15634898.3, 17868432.2]        1
(17868432.2, 20101966.1]        2
(20101966.1, 22335500.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
---
Column Names: logerror
(-4.666, -3.664]        2
(-3.664, -2.672]        0
(-2.672, -1.68]        26
(-1.68, -0.688]       103
(-0.688, 0.304]     50298
(0.304, 1.296]       1202
(1.296, 2.287]         75
(2.287, 3.279]         52
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
---
Column Names: aircon
None         38538
Central      11640
Yes           1567
Wall Unit       15
Name: aircon, dtype: int64
Column Names: heating
Central       20409
None          18319
Floor/Wall    12443
Forced air      512
Solar            63
Baseboard         7
Radiant           4
Gravity           2
Yes               1
Name: heating, dtype: int64
Column Names: age
(5.861, 19.8]      2865
(19.8, 33.6]       5909
(33.6, 47.4]       6918
(47.4, 61.2]      10164
(61.2, 75.0]      16826
(75.0, 88.8]       3855
(88.8, 102.6]      4033
(102.6, 116.4]     1004
(116.4, 130.2]      165
(130.2, 144.0]       21
Name: age, dtype: int64
---
Column Names: logerror_bin
-1sig~1sig    47569
>1sig          2469
<-1sig         1722
Name: logerror_bin, dtype: int64
Column Names: home_size
medium    25949
small     12961
large     12850
Name: home_size, dtype: int64
Column Names: est_tax_rate
(-0.0014, 0.0494]    51673
(0.0494, 0.0988]        62
(0.0988, 0.148]         17
(0.148, 0.198]           2
(0.198, 0.247]           1
(0.247, 0.296]           2
(0.296, 0.346]           1
(0.346, 0.395]           0
(0.395, 0.444]           0
(0.444, 0.494]           2
Name: est_tax_rate, dtype: int64
---
Report Finished

## Modeling Prep

In [101]:
# create X,y for train, validate and test subsets
X_train = train_scaled.drop(columns='logerror')
y_train = train.logerror
X_val = validate_scaled.drop(columns='logerror')
y_val = validate.logerror
X_test = test_scaled.drop(columns='logerror')
y_test = test_scaled.logerror

In [102]:
#shift y subsets into a data frame
y_train = pd.DataFrame(y_train)
y_val = pd.DataFrame(y_val)
y_test = pd.DataFrame(y_test)

In [110]:
#baseline --> choose median because data is scaled

#add baseline columns
y_train['pred_median'] = y_train.logerror.median()
y_val['pred_median'] = y_val.logerror.median()
y_test['pred_median'] = y_test.logerror.median()

#add/calc RMSEs for median baseline predictions
rmse_val = mean_squared_error(y_val.logerror, y_val.pred_median, squared=False)
rmse_train = mean_squared_error(y_train.logerror, y_train.pred_median, squared=False)

print(f'RMSEs: Median\n Train/In Sample: {round(rmse_train, 2)}\n Validate/Out of Sample: {round(rmse_val, 2)}')

RMSEs: Median
 Train/In Sample: 0.18
 Validate/Out of Sample: 0.18

In [103]:
dummy_columns = ['county',
                 'home_size',
                 'aircon',
                 'heating',
                 'logerror_bin',
                 ]

In [104]:
#get dummies for X subsets
X_train = pd.get_dummies(X_train, columns=dummy_columns, drop_first=True)
X_val = pd.get_dummies(X_val, columns=dummy_columns, drop_first=True)
X_test = pd.get_dummies(X_test, columns=dummy_columns, drop_first=True)

#add column after dummy creation to insure feature count match
X_train.insert(25, 'heating_Gravity', 0)

## Select K Best

In [105]:
def select_kbest(X, y, k): 
    # initilize selector object
    f_selector = SelectKBest(f_regression, k=k)

    #fit object --> will find top 2 as requested
    f_selector.fit(X, y)

    # create mask
    feature_mask = f_selector.get_support()

    # use mask to show list of feature support
    f_top_features = X.iloc[:,feature_mask].columns.tolist()

    return f_top_features

## RFE

In [106]:
def rfe (X, y, n):
    """
    Purpose
        To return the top features selected by the RFE function

    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       n: the number of features for the function to select 
    Returns
       rfe_tip_features: list of the top features selected by SelectKBest function
    """
    #initialize  regression object
    lm = LinearRegression()

    # initilize RFE object with n features
    rfe = RFE(lm, n_features_to_select=n)

    #fit object onto data
    rfe.fit(X, y)

    #create boolean mask for columns model selects 
    feature_mask = rfe.support_

    # use mask to show list of selected features
    rfe_top_features = X.iloc[:, feature_mask].columns.tolist()

    return rfe_top_features

## Get Features

In [32]:
#set list of up for features
all_features = list(X_train.columns)

req_features = ['area', 'bedrooms', 'bathrooms']

feat_set1  = ['est_tax_rate', 'area']

feat_set2 = ['est_tax_rate', 'area', 'age']

feat_set3 = ['est_tax_rate', 'area', 'age', 'county_Orange County', 'county_Ventura County']

feat_set4 = ['est_tax_rate', 'area', 'bathrooms', 'age', 'county_Orange County', 'county_Ventura County']

feat_rfe = rfe(X_train, y_train.logerror, 4)

feat_sk_best = select_kbest(X_train, y_train.logerror, 4)

feat_combos = [all_features, req_features, feat_set1, feat_set2, feat_set3, feat_set4, feat_sk_best, feat_rfe]

In [111]:
model_descriptions = pd.DataFrame([['pred_median', rmse_train, 0, 'N/A', 'N/A']], columns=['Name','RMSE', 'r^2 score','Features', 'Parameters'])
model_descriptions

          Name      RMSE  r^2 score Features Parameters
0  pred_median  0.175289          0      N/A        N/A

## PF Mod

In [112]:
def pf_mod(X, y, selectors, fit_train=None, fit_y_train=None):
    """
    Purpose
       to create, train, and score linear regression models using polynomial features
    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       selectors: list of different feature and degree combinations for use with models
       fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
       fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
    Returns
       pf_description: dataFrame containing the scores, features, and parameters of the created models
    """
    #create empty data frame to hold model descriptions    
    pf_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

    for idx, combo in enumerate(selectors):
        pf = PolynomialFeatures(degree=combo[1])

        lm = LinearRegression(normalize=True)

        if fit_train is not None:
            fit_pf = pf.fit_transform(fit_train[combo[0]])
            X_pf = pf.transform(X[combo[0]])  
            lm.fit(fit_pf, fit_y_train.logerror)
        else:
            X_pf = pf.fit_transform(X[combo[0]])
            lm.fit(X_pf, y.logerror)

        model_label = f'Polynomial_{idx+1}'

        #predict train
        y[model_label] = lm.predict(X_pf) 

        #calculate train rmse
        rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

        # print(f'{model_label} with degree: {combo[1]} \n\
        #     Features: {combo[0]} \n\
        #     RMSE: {rmse}\n')
        
        description = pd.DataFrame([[model_label, rmse, combo[0], f'Degree: {combo[1]}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
        pf_descriptions = pd.concat([pf_descriptions, description])

    return pf_descriptions

In [113]:
#create a list of parameters
pf_parameters = [2,3]

#use list with product to create tuples of feature/parameter combination to feed into model
selectors = list(product(feat_combos, pf_parameters))

#call pf function to get predictions for the Polynomial models and add to the dataframe
pf_descriptions = pf_mod(X_train, y_train, selectors)

In [114]:
pf_descriptions

,Name,RMSE,Features,Parameters
0,Polynomial_1,0.122787,"[basementsqft, bathrooms, bedrooms, area, gara...",Degree: 2
0,Polynomial_2,0.110753,"[basementsqft, bathrooms, bedrooms, area, gara...",Degree: 3
0,Polynomial_3,0.174689,"[area, bedrooms, bathrooms]",Degree: 2
0,Polynomial_4,0.174609,"[area, bedrooms, bathrooms]",Degree: 3
0,Polynomial_5,0.174722,"[est_tax_rate, area]",Degree: 2
0,Polynomial_6,0.174654,"[est_tax_rate, area]",Degree: 3
0,Polynomial_7,0.174601,"[est_tax_rate, area, age]",Degree: 2
0,Polynomial_8,0.174475,"[est_tax_rate, area, age]",Degree: 3
0,Polynomial_9,0.174518,"[est_tax_rate, area, age, county_Orange County...",Degree: 2
0,Polynomial_10,0.174338,"[est_tax_rate, area, age, county_Orange County...",Degree: 3
0,Polynomial_11,0.174482,"[est_tax_rate, area, bathrooms, age, county_Or...",Degree: 2
0,Polynomial_12,0.174172,"[est_tax_rate, area, bathrooms, age, county_Or...",Degree: 3
0,Polynomial_13,0.126097,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",Degree: 2
0,Polynomial_14,0.125847,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",Degree: 3
0,Polynomial_15,0.126013,"[area, structuretaxvaluedollarcnt, logerror_bi...",Degree: 2
0,Polynomial_16,0.125916,"[area, structuretaxvaluedollarcnt, logerror_bi...",Degree: 3

In [115]:
def ols_mod(X, y, selectors, fit_x_train=None, fit_y_train=None):
    """
    Purpose
       to create, train, and score ordinary least squares linear regression modelss
    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       selectors: list of different feature and degree combinations for use with models
       fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
       fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
    Returns
       pf_description: dataFrame containing the scores, features, and parameters of the created models
    """
    #create empty data frame to hold model descriptions    
    ols_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

    #loop through selector combinations to pull out different features and degree levels
    for idx, features in enumerate(selectors):  
        #create model object
        lm = LinearRegression()
        #create mdoel label
        model_label = f'OLS_{idx+1}'
        
        #fit object on X_train subset depeneding on its position as parameter or the optional variant
        if fit_x_train is not None:
            lm.fit(fit_x_train[features], fit_y_train.logerror)
        else:   
            lm.fit(X[features], y.logerror)

        #predict train
        y[model_label] = lm.predict(X[features]) 

        #calc trian rmse
        rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

        description = pd.DataFrame([[model_label, rmse, features, 'N/A']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
        ols_descriptions = pd.concat([ols_descriptions, description])

    return ols_descriptions

In [116]:
#run ols model with feature combinations
olf_descriptions = ols_mod(X_train, y_train, feat_combos)

In [36]:
def lars_mod(X, y, selectors, fit_x_train=None, fit_y_train=None):
   """
   Purpose
      to create, train, and score linear regression models using polynomial features
   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """

   #create empty data frame to hold model descriptions    
   lars_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

   #loop through selector combinations to pull out different features and degree levels
   for idx, selector in enumerate(selectors):  
      #create model object
      lars = LassoLars(alpha=selector)
      #create mdoel label
      model_label = f'LARS_{idx+1}'

   #   #fit mode 
   #   lars.fit(X, y.logerror)
      #fit object on X_train subset depeneding on its position as parameter or the optional variant
      if fit_x_train is not None:
         lars.fit(fit_x_train, fit_y_train.logerror)
      else:   
         lars.fit(X, y.logerror)

      #predict train
      y[model_label] = lars.predict(X) 

      #calc trian rmse
      rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

      description = pd.DataFrame([[model_label, rmse, 'all', f'Alpha: {selector}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
      lars_descriptions = pd.concat([lars_descriptions, description])

   return lars_descriptions

In [118]:
#create a list of parameters
lars_parameters = [.25, .5, .75, 1]

lars_descriptions = lars_mod(X_train, y_train, lars_parameters)

In [22]:
def GLM_mod(X, y, selectors):
   """
   Purpose
      to create, train, and score linear regression models using polynomial features
   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """
   
   #create empty data frame to hold model descriptions    
   glm_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

   #create empty data frame to hold model descriptions    
   for idx, combo in enumerate(selectors):  
      #create model object
      glm = TweedieRegressor(power=combo[0], alpha=combo[1])

      #create model label
      model_label = f'GLM_{idx+1}'

      #fit mode 
      glm.fit(X, y.logerror)

      #predict train
      y[model_label] = glm.predict(X) 

      #calc rmse
      rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

      description = pd.DataFrame([[model_label, rmse, '-', f'Power,Alpha: {combo}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
      glm_descriptions = pd.concat([glm_descriptions, description])

   return glm_descriptions

In [28]:
#create a list of parameters
glm_parameters = [(0,0), (0,.25), (0,.5), (0,.75), (0,1)]

glm_descriptions = GLM_mod(X_train, y_train, glm_parameters)

In [29]:
glm_descriptions

    Name      RMSE Features              Parameters
0  GLM_1  0.126061        -     Power,Alpha: (0, 0)
0  GLM_2    0.1652        -  Power,Alpha: (0, 0.25)
0  GLM_3  0.169159        -   Power,Alpha: (0, 0.5)
0  GLM_4  0.170806        -  Power,Alpha: (0, 0.75)
0  GLM_5  0.171713        -     Power,Alpha: (0, 1)

In [30]:
round(y_train, 4)

,logerror,pred_median,Polynomial_1,Polynomial_2,Polynomial_3,Polynomial_4,Polynomial_5,Polynomial_6,Polynomial_7,Polynomial_8,...,OLS_8,LARS_1,LARS_2,LARS_3,LARS_4,GLM_1,GLM_2,GLM_3,GLM_4,GLM_5
id,,,,,,,,,,,,,,,,,,,,,
874932,0.0232,0.0067,0.0094,0.0256,0.0179,0.0178,0.0149,0.0142,0.0170,0.0204,...,0.0046,0.0188,0.0188,0.0188,0.0188,0.0056,0.0103,0.0129,0.0142,0.0149
912277,-0.0706,0.0067,0.0086,0.0083,0.0146,0.0160,0.0134,0.0137,0.0159,0.0163,...,0.0033,0.0188,0.0188,0.0188,0.0188,0.0024,0.0105,0.0138,0.0153,0.0160
1731609,-0.0091,0.0067,0.0205,-0.0200,0.0406,0.0460,0.0349,0.0378,0.0379,0.0353,...,0.0261,0.0188,0.0188,0.0188,0.0188,0.0086,0.0115,0.0142,0.0155,0.0161
2684943,0.0536,0.0067,0.0223,0.0051,0.0231,0.0222,0.0218,0.0203,0.0246,0.0247,...,0.0112,0.0188,0.0188,0.0188,0.0188,0.0152,0.0203,0.0204,0.0204,0.0203
134804,0.0167,0.0067,0.0229,0.0126,0.0170,0.0145,0.0185,0.0170,0.0187,0.0190,...,0.0081,0.0188,0.0188,0.0188,0.0188,0.0024,0.0140,0.0160,0.0169,0.0173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2124366,-0.0418,0.0067,0.0080,0.0505,0.0112,0.0125,0.0138,0.0154,0.0070,0.0060,...,0.0037,0.0188,0.0188,0.0188,0.0188,0.0243,0.0154,0.0174,0.0181,0.0184
2225558,-0.0170,0.0067,0.0066,0.0095,0.0164,0.0131,0.0231,0.0194,0.0197,0.0171,...,0.0120,0.0188,0.0188,0.0188,0.0188,0.0063,0.0097,0.0125,0.0139,0.0147
982193,0.0075,0.0067,-0.0044,-0.0096,0.0249,0.0261,0.0253,0.0268,0.0276,0.0301,...,0.0160,0.0188,0.0188,0.0188,0.0188,0.0098,0.0204,0.0209,0.0210,0.0208
2007739,0.0153,0.0067,0.0089,0.0235,0.0084,0.0057,0.0187,0.0172,0.0179,0.0153,...,0.0090,0.0188,0.0188,0.0188,0.0188,0.0087,0.0102,0.0130,0.0143,0.0152
871863,0.1076,0.0067,0.0086,0.0027,0.0137,0.0157,0.0186,0.0247,0.0219,0.0250,...,0.0023,0.0188,0.0188,0.0188,0.0188,-0.0002,0.0105,0.0139,0.0154,0.0161

## Score

In [123]:
model_descriptions = pd.DataFrame([['pred_median', rmse_train, 0, 'N/A', 'N/A']], columns=['Name','RMSE', 'r^2 score','Features', 'Parameters'])

#create df for model scores on the train scores
model_scores = pd.DataFrame({}, columns=['Model', 'r^2 score'])
model_scores = model_scores.set_index('Model')
model_descriptions = pd.concat([model_descriptions, pf_descriptions, lars_descriptions, olf_descriptions, glm_descriptions])
model_descriptions = model_descriptions.set_index('Name')
for idx, model in enumerate(y_train.drop(columns='logerror').columns):
    model_descriptions.loc[model, 'r^2 score'] = explained_variance_score(y_train['logerror'], y_train[model])

round(model_descriptions,2)

,RMSE,r^2 score,Features,Parameters
Name,,,,
pred_median,0.175289,0.00,N/A,N/A
Polynomial_1,0.122787,0.51,"[basementsqft, bathrooms, bedrooms, area, gara...",Degree: 2
Polynomial_2,0.110753,0.60,"[basementsqft, bathrooms, bedrooms, area, gara...",Degree: 3
Polynomial_3,0.174689,0.00,"[area, bedrooms, bathrooms]",Degree: 2
Polynomial_4,0.174609,0.00,"[area, bedrooms, bathrooms]",Degree: 3
Polynomial_5,0.174722,0.00,"[est_tax_rate, area]",Degree: 2
Polynomial_6,0.174654,0.00,"[est_tax_rate, area]",Degree: 3
Polynomial_7,0.174601,0.00,"[est_tax_rate, area, age]",Degree: 2
Polynomial_8,0.174475,0.00,"[est_tax_rate, area, age]",Degree: 3
Polynomial_9,0.174518,0.00,"[est_tax_rate, area, age, county_Orange County...",Degree: 2
Polynomial_10,0.174338,0.01,"[est_tax_rate, area, age, county_Orange County...",Degree: 3
Polynomial_11,0.174482,0.00,"[est_tax_rate, area, bathrooms, age, county_Or...",Degree: 2
Polynomial_12,0.174172,0.01,"[est_tax_rate, area, bathrooms, age, county_Or...",Degree: 3
Polynomial_13,0.126097,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",Degree: 2
Polynomial_14,0.125847,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",Degree: 3
Polynomial_15,0.126013,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",Degree: 2
Polynomial_16,0.125916,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",Degree: 3
LARS_1,0.17487,0.00,all,Alpha: 0.25
LARS_2,0.17487,0.00,all,Alpha: 0.5
LARS_3,0.17487,0.00,all,Alpha: 0.75
LARS_4,0.17487,0.00,all,Alpha: 1
OLS_1,0.125991,0.48,"[basementsqft, bathrooms, bedrooms, area, gara...",N/A
OLS_2,0.174727,0.00,"[area, bedrooms, bathrooms]",N/A
OLS_3,0.174747,0.00,"[est_tax_rate, area]",N/A
OLS_4,0.174734,0.00,"[est_tax_rate, area, age]",N/A
OLS_5,0.174671,0.00,"[est_tax_rate, area, age, county_Orange County...",N/A
OLS_6,0.17467,0.00,"[est_tax_rate, area, bathrooms, age, county_Or...",N/A
OLS_7,0.126194,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",N/A
OLS_8,0.126147,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",N/A
GLM_1,0.171713,0.04,-,"Power,Alpha: (0, 1)"
GLM_2,0.1652,0.11,-,"Power,Alpha: (0, 0.25)"
GLM_3,0.169159,0.06,-,"Power,Alpha: (0, 0.5)"
GLM_4,0.170806,0.05,-,"Power,Alpha: (0, 0.75)"
GLM_5,0.171713,0.04,-,"Power,Alpha: (0, 1)"

# Validate
* Best 10 models:

In [124]:
round(model_descriptions.sort_values(by='RMSE').head(10),2)

,RMSE,r^2 score,Features,Parameters
Name,,,,
Polynomial_2,0.110753,0.60,"[basementsqft, bathrooms, bedrooms, area, gara...",Degree: 3
Polynomial_1,0.122787,0.51,"[basementsqft, bathrooms, bedrooms, area, gara...",Degree: 2
Polynomial_14,0.125847,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",Degree: 3
Polynomial_16,0.125916,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",Degree: 3
OLS_1,0.125991,0.48,"[basementsqft, bathrooms, bedrooms, area, gara...",N/A
Polynomial_15,0.126013,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",Degree: 2
Polynomial_13,0.126097,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",Degree: 2
OLS_8,0.126147,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",N/A
OLS_7,0.126194,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",N/A
GLM_2,0.1652,0.11,-,"Power,Alpha: (0, 0.25)"

In [37]:
# create list of selectors for validate
val_selectors = [(all_features, 3),(all_features, 2), (feat_set2, 3), (feat_set3, 3), (feat_set4, 3)]

#call pf function to get predictions for the Polynomial models and add to the dataframe
pf_mod(X_val, y_val, val_selectors, X_train, y_train)

#create a list of parameters
val_parameters = [.25, .5]

lars_descriptions = lars_mod(X_train, y_train, val_parameters, X_val, y_val)

validate_scores = pd.DataFrame({}, columns=['Model', 'r^2 Score'])

for idx, model in enumerate(y_val.drop(columns='logerror').columns):
    score = explained_variance_score(y_val['logerror'], y_val[model])
    validate_scores.loc[idx] = [model, score]

round(validate_scores,4)

          Model     r^2 Score
0   pred_median  0.000000e+00
1  Polynomial_1 -1.647291e+24
2  Polynomial_2 -2.656524e+22
3  Polynomial_3  2.700000e-03
4  Polynomial_4  1.900000e-03
5  Polynomial_5 -2.900000e-03

In [50]:
for item in y_val.drop(columns='logerror').columns:
    print(f'RMSE {mean_squared_error(y_val.logerror, y_val[item], squared=False)}')

RMSE 0.18477967963789746
RMSE 236801873114.9983
RMSE 30073399457.109917
RMSE 0.18424549842717014
RMSE 0.18431841473114904
RMSE 0.18476710557468787

In [47]:
validate_scores

          Model     r^2 Score                      RMSE
0   pred_median  0.000000e+00  RMSE 0.18476710557468787
1  Polynomial_1 -1.647291e+24  RMSE 0.18476710557468787
2  Polynomial_2 -2.656524e+22  RMSE 0.18476710557468787
3  Polynomial_3  2.701429e-03  RMSE 0.18476710557468787
4  Polynomial_4  1.919165e-03  RMSE 0.18476710557468787
5  Polynomial_5 -2.937567e-03  RMSE 0.18476710557468787

# Test
* Polynomial 5

In [129]:
test_selectors = [(feat_set4, 3)]

pf_mod(X_test, y_test, test_selectors, X_train, y_train)

,Name,RMSE,Features,Parameters
0,Polynomial_1,0.567746,"[est_tax_rate, area, bathrooms, age, county_Or...",Degree: 3

In [130]:
test_scores = pd.DataFrame({}, columns=['Model', 'r^2 Score'])

for idx, model in enumerate(y_test.drop(columns='logerror').columns):
    score = explained_variance_score(y_test['logerror'], y_test[model])
    test_scores.loc[idx] = [model, score]

test_score = explained_variance_score(y_test['logerror'], y_test[model])

In [131]:
test_score

-0.5330382037939192

# Functions For Export

## Modeling Prep

In [4]:
def modeling_prep (train, train_scaled, validate, validate_scaled, test, test_scaled):
   """
   Purpose
      To return X, y subsets for training, validation, and testing of models

   Parameters
      train/validate/test: dataframes containing appropriate subsets of data
      train_scaled, validate_scaled, test_scaled: dataframes contianing scaled versions of approrpriate subsets of data

   Returns
      X_train, y_train, X_val, y_val, X_test, y_test: dataframes containing appropriate subsets of data
   """
   # create X,y for train, validate and test subsets
   X_train = train_scaled.drop(columns='logerror')
   y_train = train.logerror
   X_val = validate_scaled.drop(columns='logerror')
   y_val = validate.logerror
   X_test = test_scaled.drop(columns='logerror')
   y_test = test_scaled.logerror

   #shift y subsets into a data frame
   y_train = pd.DataFrame(y_train)
   y_val = pd.DataFrame(y_val)
   y_test = pd.DataFrame(y_test)

   #add baseline predictions
   y_train['pred_median'] = y_train.logerror.median()
   y_val['pred_median'] = y_val.logerror.median()
   y_test['pred_median'] = y_test.logerror.median()

   #get dummies for X subsets
   dummy_columns = ['county',
               'home_size',
               'aircon',
               'heating',
               'logerror_bin',
               ]
   X_train = pd.get_dummies(X_train, columns=dummy_columns, drop_first=True)
   X_val = pd.get_dummies(X_val, columns=dummy_columns, drop_first=True)
   X_test = pd.get_dummies(X_test, columns=dummy_columns, drop_first=True)

   #add column after dummy creation to insure feature count match
   X_train.insert(25, 'heating_Gravity', 0)

   return X_train, y_train, X_val, y_val, X_test, y_test

## Select K Best

In [5]:
def select_kbest(X, y, k): 
    """
    Purpose
        To return the top features selecting by the SelectKBest function

    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       k: the number of features for the function to suggest 
    Returns
       f_top_features: list of the top features selected by SelectKBest function
    """
    # initilize selector object
    f_selector = SelectKBest(f_regression, k=k)

    #fit object --> will find top 2 as requested
    f_selector.fit(X, y)

    # create mask
    feature_mask = f_selector.get_support()

    # use mask to show list of feature support
    f_top_features = X.iloc[:,feature_mask].columns.tolist()

    return f_top_features

## RFE

In [6]:
def rfe (X, y, n):
    """
    Purpose
        To return the top features selected by the RFE function

    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       n: the number of features for the function to select 
    Returns
       rfe_tip_features: list of the top features selected by SelectKBest function
    """
    #initialize  regression object
    lm = LinearRegression()

    # initilize RFE object with n features
    rfe = RFE(lm, n_features_to_select=n)

    #fit object onto data
    rfe.fit(X, y)

    #create boolean mask for columns model selects 
    feature_mask = rfe.support_

    # use mask to show list of selected features
    rfe_top_features = X.iloc[:, feature_mask].columns.tolist()

    return rfe_top_features

## Get Features

In [7]:
def get_features(X_train, y_train):
    """
    Purpose
        create a list of feature combinations to feed into the various models

    Parameters
       X_train: dataframe containing X subset of features for the data subset
       y_train: dataframe with series containing the target variable
    Returns
       feat_combos: list feature combinations
    """
    #create lists of features
    all_features = list(X_train.columns)
    req_features = ['area', 'bedrooms', 'bathrooms']
    feat_set1  = ['est_tax_rate', 'area']
    feat_set2 = ['est_tax_rate', 'area', 'age']
    feat_set3 = ['est_tax_rate', 'area', 'age', 'county_Orange County', 'county_Ventura County']
    feat_set4 = ['est_tax_rate', 'area', 'bathrooms', 'age', 'county_Orange County', 'county_Ventura County']
    feat_rfe = rfe(X_train, y_train.logerror, 4)
    feat_sk_best = select_kbest(X_train, y_train.logerror, 4)

    #combine lists of features into large list feature all selected combinations
    feat_combos = [all_features, req_features, feat_set1, feat_set2, feat_set3, feat_set4, feat_sk_best, feat_rfe]

    return feat_combos

## PF Mod

In [8]:
def pf_mod(X, y, selectors, fit_train=None, fit_y_train=None):
    """
    Purpose
       to create, train, and score linear regression models using polynomial features
    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       selectors: list of different feature and degree combinations for use with models
       fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
       fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
    Returns
       pf_description: dataFrame containing the scores, features, and parameters of the created models
    """

    #create empty data frame to hold model descriptions    
    pf_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

    #loop through selector combinations to pull out different features and degree levels
    for idx, combo in enumerate(selectors):
        #create features object
        pf = PolynomialFeatures(degree=combo[1])
        #initialize model object
        lm = LinearRegression(normalize=True)
        #fit object on X_train subset depeneding on its position as parameter or the optional variant
        if fit_train is not None:
            fit_pf = pf.fit_transform(fit_train[combo[0]])
            X_pf = pf.transform(X[combo[0]])  
            lm.fit(fit_pf, fit_y_train.logerror)
        else:
            X_pf = pf.fit_transform(X[combo[0]])
            lm.fit(X_pf, y.logerror)

        model_label = f'Polynomial_{idx+1}'

        #predict train
        y[model_label] = lm.predict(X_pf) 

        #calculate train rmse
        rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

     
        description = pd.DataFrame([[model_label, rmse, combo[0], f'Degree: {combo[1]}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
        pf_descriptions = pd.concat([pf_descriptions, description])

    return pf_descriptions

## OLS Mod

In [9]:
def ols_mod(X, y, selectors, fit_x_train=None, fit_y_train=None):
    """
    Purpose
       to create, train, and score ordinary least squares linear regression modelss
    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       selectors: list of different feature and degree combinations for use with models
       fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
       fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
    Returns
       pf_description: dataFrame containing the scores, features, and parameters of the created models
    """
    #create empty data frame to hold model descriptions    
    ols_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

    #loop through selector combinations to pull out different features and degree levels
    for idx, features in enumerate(selectors):  
        #create model object
        lm = LinearRegression()
        #create mdoel label
        model_label = f'OLS_{idx+1}'
        
        #fit object on X_train subset depeneding on its position as parameter or the optional variant
        if fit_x_train is not None:
            lm.fit(fit_x_train[features], fit_y_train.logerror)
        else:   
            lm.fit(X[features], y.logerror)

        #predict train
        y[model_label] = lm.predict(X[features]) 

        #calc trian rmse
        rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

        description = pd.DataFrame([[model_label, rmse, features, 'N/A']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
        ols_descriptions = pd.concat([ols_descriptions, description])

    return ols_descriptions

## Lars Mod

In [35]:
def lars_mod(X, y, selectors, fit_x_train=None, fit_y_train=None):
   """
   Purpose
      to create, train, and score linear regression models using polynomial features
   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """

   #create empty data frame to hold model descriptions    
   lars_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

   #loop through selector combinations to pull out different features and degree levels
   for idx, selector in enumerate(selectors):  
      #create model object
      lars = LassoLars(alpha=selector)
      #create mdoel label
      model_label = f'LARS_{idx+1}'

      #fit mode 
      lars.fit(X, y.logerror)
      #fit object on X_train subset depeneding on its position as parameter or the optional variant
      if fit_x_train is not None:
         lars.fit(fit_x_train, fit_y_train.logerror)
      else:   
         lars.fit(X, y.logerror)

      #predict train
      y[model_label] = lars.predict(X) 

      #calc trian rmse
      rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

      description = pd.DataFrame([[model_label, rmse, 'all', f'Alpha: {selector}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
      lars_descriptions = pd.concat([lars_descriptions, description])

   return lars_descriptions

In [16]:
def GLM_mod(X, y, selectors):
   """
   Purpose
      to create, train, and score linear regression models using polynomial features
   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """
   
   #create empty data frame to hold model descriptions    
   glm_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

   #create empty data frame to hold model descriptions    
   for idx, combo in enumerate(selectors):  
      #create model object
      glm = TweedieRegressor(power=combo[0], alpha=combo[1])

      #create model label
      model_label = f'GLM_{idx+1}'

      #fit mode 
      glm.fit(X, y.logerror)

      #predict train
      y[model_label] = glm.predict(X) 

      #calc rmse
      rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

      description = pd.DataFrame([[model_label, rmse, '-', f'Power,Alpha: {combo}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
      glm_descriptions = pd.concat([glm_descriptions, description])

   return glm_descriptions

In [10]:
X_train, y_train, X_val, y_val, X_test, y_test = modeling_prep(train, train_scaled, validate, validate_scaled, test, test_scaled)

## Train and Score

In [18]:
def train_score(X_train, y_train): 
   """
   Purpose
      to create, train, and score linear regression models using polynomial features
   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """

   #create lists of features
   feat_combos = get_features(X_train, y_train)

   #create a lists of parameters
   pf_parameters = [2,3]
   lars_parameters = [.25, .5, .75, 1]
   glm_parameters = [(0,0), (0,.25), (0,.5), (0,.75), (0,1)]

   #use list with product to create tuples of feature/parameter combination to feed into model
   pf_selectors = list(product(feat_combos, pf_parameters))

   #run ols model with feature combinations
   pf_descriptions = pf_mod(X_train, y_train, pf_selectors)
   olf_descriptions = ols_mod(X_train, y_train, feat_combos)
   lars_descriptions = lars_mod(X_train, y_train, lars_parameters)
   glm_descriptions = GLM_mod(X_train, y_train, glm_parameters)

   #calc rmse
   rmse = mean_squared_error(y_train.logerror, y_train.pred_median, squared=False)

   #create empty dataframe to hold model descriptions
   model_descriptions = pd.DataFrame([['pred_median', rmse, 0, 'N/A', 'N/A']], columns=['Name','RMSE', 'r^2 score','Features', 'Parameters'])

   #create df for model scores on the train scores
   model_scores = pd.DataFrame({}, columns=['Model', 'r^2 score'])
   model_scores = model_scores.set_index('Model')
   model_descriptions = pd.concat([model_descriptions, pf_descriptions, lars_descriptions, olf_descriptions, glm_descriptions])
   model_descriptions = model_descriptions.set_index('Name')
   for idx, model in enumerate(y_train.drop(columns='logerror').columns):
      model_descriptions.loc[model, 'r^2 score'] = explained_variance_score(y_train['logerror'], y_train[model])

   return round(model_descriptions,2)

In [19]:
train_score(X_train, y_train)

,RMSE,r^2 score,Features,Parameters
Name,,,,
pred_median,0.175289,0.00,N/A,N/A
Polynomial_1,0.122787,0.51,"[basementsqft, bathrooms, bedrooms, area, gara...",Degree: 2
Polynomial_2,0.110753,0.60,"[basementsqft, bathrooms, bedrooms, area, gara...",Degree: 3
Polynomial_3,0.174689,0.00,"[area, bedrooms, bathrooms]",Degree: 2
Polynomial_4,0.174609,0.00,"[area, bedrooms, bathrooms]",Degree: 3
Polynomial_5,0.174722,0.00,"[est_tax_rate, area]",Degree: 2
Polynomial_6,0.174654,0.00,"[est_tax_rate, area]",Degree: 3
Polynomial_7,0.174601,0.00,"[est_tax_rate, area, age]",Degree: 2
Polynomial_8,0.174475,0.00,"[est_tax_rate, area, age]",Degree: 3
Polynomial_9,0.174518,0.00,"[est_tax_rate, area, age, county_Orange County...",Degree: 2
Polynomial_10,0.174338,0.01,"[est_tax_rate, area, age, county_Orange County...",Degree: 3
Polynomial_11,0.174482,0.00,"[est_tax_rate, area, bathrooms, age, county_Or...",Degree: 2
Polynomial_12,0.174172,0.01,"[est_tax_rate, area, bathrooms, age, county_Or...",Degree: 3
Polynomial_13,0.126097,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",Degree: 2
Polynomial_14,0.125847,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",Degree: 3
Polynomial_15,0.126013,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",Degree: 2
Polynomial_16,0.125916,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",Degree: 3
LARS_1,0.17487,0.00,all,Alpha: 0.25
LARS_2,0.17487,0.00,all,Alpha: 0.5
LARS_3,0.17487,0.00,all,Alpha: 0.75
LARS_4,0.17487,0.00,all,Alpha: 1
OLS_1,0.125991,0.48,"[basementsqft, bathrooms, bedrooms, area, gara...",N/A
OLS_2,0.174727,0.00,"[area, bedrooms, bathrooms]",N/A
OLS_3,0.174747,0.00,"[est_tax_rate, area]",N/A
OLS_4,0.174734,0.00,"[est_tax_rate, area, age]",N/A
OLS_5,0.174671,0.00,"[est_tax_rate, area, age, county_Orange County...",N/A
OLS_6,0.17467,0.00,"[est_tax_rate, area, bathrooms, age, county_Or...",N/A
OLS_7,0.126194,0.48,"[bedrooms, area, logerror_bin_-1sig~1sig, loge...",N/A
OLS_8,0.126147,0.48,"[area, structuretaxvaluedollarcnt, logerror_bi...",N/A
GLM_1,0.171713,0.04,-,"Power,Alpha: (0, 1)"
GLM_2,0.1652,0.11,-,"Power,Alpha: (0, 0.25)"
GLM_3,0.169159,0.06,-,"Power,Alpha: (0, 0.5)"
GLM_4,0.170806,0.05,-,"Power,Alpha: (0, 0.75)"
GLM_5,0.171713,0.04,-,"Power,Alpha: (0, 1)"