In [1]:
#### Import Section
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import env
import wrangle_zillow
import model

from os.path import exists
from itertools import product
from random import randint
from scipy.stats import levene , pearsonr, spearmanr, mannwhitneyu, f_oneway, ttest_ind
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, TweedieRegressor, LassoLars
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import RFE, f_regression, SelectKBest

import warnings
warnings.filterwarnings("ignore")

# Model
Using scaled dataset

In [2]:
df, train, validate, test, train_scaled, validate_scaled, test_scaled  = wrangle_zillow.wrangle_zillow()

(28971, 22) (12417, 22) (10348, 22)
-----
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51736 entries, 1727539 to 1187175
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   basementsqft                51736 non-null  float64
 1   bathrooms                   51736 non-null  float64
 2   bedrooms                    51736 non-null  float64
 3   area                        51736 non-null  float64
 4   county                      51736 non-null  object
 5   garagecarcnt                51736 non-null  float64
 6   garagetotalsqft             51736 non-null  float64
 7   latitude                    51736 non-null  float64
 8   longitude                   51736 non-null  float64
 9   lotsizesquarefeet           51736 non-null  float64
 10  poolcnt                     51736 non-null  float64
 11  structuretaxvaluedollarcnt  51736 non-null  float64
 12  home_value                  51736 non-null  float64
 13  landtaxvaluedollarcnt       51736 non-null  float64
 14  logerror                    51736 non-null  float64
 15  aircon                      51736 non-null  object
 16  heating                     51736 non-null  object
 17  age                         51736 non-null  float64
 18  openness                    51736 non-null  float64
 19  tax_per_sqft                51736 non-null  float64
 20  home_size                   51736 non-null  category
 21  est_tax_rate                51736 non-null  float64
dtypes: category(1), float64(18), object(3)
memory usage: 8.7+ MB
None
---
DataFrame describe:

       basementsqft     bathrooms      bedrooms          area  garagecarcnt  \
count  51736.000000  51736.000000  51736.000000  51736.000000  51736.000000
mean       0.616824      2.299018      3.307098   1918.913349      0.675294
std       29.478198      1.009984      0.931425    994.228663      0.982383
min        0.000000      0.000000      0.000000    152.000000      0.000000
25%        0.000000      2.000000      3.000000   1268.000000      0.000000
50%        0.000000      2.000000      3.000000   1657.000000      0.000000
75%        0.000000      3.000000      4.000000   2301.000000      2.000000
max     3560.000000     13.000000     11.000000  21929.000000     14.000000

       garagetotalsqft      latitude     longitude  lotsizesquarefeet  \
count     51736.000000  5.173600e+04  5.173600e+04       5.173600e+04
mean        171.828591  3.402185e+07 -1.181935e+08       1.121396e+04
std         253.462264  2.737223e+05  3.567770e+05       8.669737e+04
min           0.000000  3.334085e+07 -1.194754e+08       2.360000e+02
25%           0.000000  3.382654e+07 -1.183998e+08       5.581000e+03
50%           0.000000  3.402162e+07 -1.181519e+08       6.837000e+03
75%         432.000000  3.418688e+07 -1.179288e+08       8.775000e+03
max        4251.000000  3.481877e+07 -1.175546e+08       6.971010e+06

            poolcnt  structuretaxvaluedollarcnt    home_value  \
count  51736.000000                5.173600e+04  5.173600e+04
mean       0.212405                1.948265e+05  5.243006e+05
std        0.409014                2.507699e+05  7.109716e+05
min        0.000000                1.480000e+02  3.254000e+03
25%        0.000000                7.707000e+04  1.936448e+05
50%        0.000000                1.314265e+05  3.727910e+05
75%        0.000000                2.247025e+05  6.157250e+05
max        1.000000                9.164901e+06  2.538125e+07

       landtaxvaluedollarcnt      logerror           age      openness  \
count           5.173600e+04  51736.000000  51736.000000  51736.000000
mean            3.294741e+05      0.018158     58.681750    334.883808
std             5.187672e+05      0.175406     22.954315     91.017382
min             1.610000e+02     -4.655420      6.000000     21.714286
25%             7.565900e+04     -0.024570     43.000000    271.000000
50%             2.176990e+05      0.006912     62.000000    317.714286
75%             4.073015e+05      0.040462     72.000000    379.750000
max             2.233550e+07      5.262999    144.000000   2438.500000

       tax_per_sqft  est_tax_rate
count  51736.000000  51736.000000
mean      90.626743      0.013335
std       60.224115      0.005621
min        0.039833      0.000094
25%       54.827845      0.011634
50%       82.024732      0.012325
75%      113.280938      0.013676
max     1682.457143      0.493647
---
DataFrame null value asssessment:

Nulls By Column:                             num_rows_missing  percent_rows_missing
basementsqft                               0                   0.0
bathrooms                                  0                   0.0
bedrooms                                   0                   0.0
area                                       0                   0.0
county                                     0                   0.0
garagecarcnt                               0                   0.0
garagetotalsqft                            0                   0.0
latitude                                   0                   0.0
longitude                                  0                   0.0
lotsizesquarefeet                          0                   0.0
poolcnt                                    0                   0.0
structuretaxvaluedollarcnt                 0                   0.0
home_value                                 0                   0.0
landtaxvaluedollarcnt                      0                   0.0
logerror                                   0                   0.0
aircon                                     0                   0.0
heating                                    0                   0.0
age                                        0                   0.0
openness                                   0                   0.0
tax_per_sqft                               0                   0.0
home_size                                  0                   0.0
est_tax_rate                               0                   0.0
----
Nulls By Row:    num_cols_missing  percent_cols_missing     id
0                 0                   0.0  51736
value_counts:

Column Names: basementsqft
(-3.561, 356.0]     51707
(356.0, 712.0]         15
(712.0, 1068.0]         7
(1068.0, 1424.0]        3
(1424.0, 1780.0]        0
(1780.0, 2136.0]        2
(2136.0, 2492.0]        0
(2492.0, 2848.0]        0
(2848.0, 3204.0]        1
(3204.0, 3560.0]        1
Name: basementsqft, dtype: int64
---
Column Names: bathrooms
(-0.013999999999999999, 1.3]     9460
(1.3, 2.6]                      26496
(2.6, 3.9]                      11432
(3.9, 5.2]                       3600
(5.2, 6.5]                        571
(6.5, 7.8]                        103
(7.8, 9.1]                         65
(9.1, 10.4]                         5
(10.4, 11.7]                        3
(11.7, 13.0]                        1
Name: bathrooms, dtype: int64
---
Column Names: bedrooms
(-0.012, 1.1]      603
(1.1, 2.2]        8226
(2.2, 3.3]       23173
(3.3, 4.4]       15065
(4.4, 5.5]        3908
(5.5, 6.6]         625
(6.6, 7.7]         102
(7.7, 8.8]          23
(8.8, 9.9]           8
(9.9, 11.0]          3
Name: bedrooms, dtype: int64
---
Column Names: area
(130.222, 2329.7]     39199
(2329.7, 4507.4]      11377
(4507.4, 6685.1]        950
(6685.1, 8862.8]        154
(8862.8, 11040.5]        39
(11040.5, 13218.2]       12
(13218.2, 15395.9]        1
(15395.9, 17573.6]        2
(17573.6, 19751.3]        0
(19751.3, 21929.0]        2
Name: area, dtype: int64
---
Column Names: county
LA County         33393
Orange County     13999
Ventura County     4344
Name: county, dtype: int64
Column Names: garagecarcnt
(-0.015, 1.4]    36045
(1.4, 2.8]       14752
(2.8, 4.2]         869
(4.2, 5.6]          45
(5.6, 7.0]          15
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
---
Column Names: garagetotalsqft
(-4.252000000000001, 425.1]    38228
(425.1, 850.2]                 13134
(850.2, 1275.3]                  321
(1275.3, 1700.4]                  37
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
---
Column Names: latitude
(33339373.083, 33488642.6]      751
(33488642.6, 33636434.2]       3180
(33636434.2, 33784225.8]       6034
(33784225.8, 33932017.4]      10873
(33932017.4, 34079809.0]       8927
(34079809.0, 34227600.6]      12266
(34227600.6, 34375392.2]       4565
(34375392.2, 34523183.8]       1748
(34523183.8, 34670975.4]       2173
(34670975.4, 34818767.0]       1219
Name: latitude, dtype: int64
---
Column Names: longitude
(-119477336.781, -119283338.0]      159
(-119283338.0, -119091260.0]       1285
(-119091260.0, -118899182.0]       1050
(-118899182.0, -118707104.0]       1768
(-118707104.0, -118515026.0]       3777
(-118515026.0, -118322948.0]       9164
(-118322948.0, -118130870.0]       9918
(-118130870.0, -117938792.0]      11135
(-117938792.0, -117746714.0]       9051
(-117746714.0, -117554636.0]       4429
Name: longitude, dtype: int64
---
Column Names: lotsizesquarefeet
(-6734.775000000001, 697313.4]    51717
(697313.4, 1394390.8]                 8
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
---
Column Names: poolcnt
(-0.002, 0.1]    40747
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       10989
Name: poolcnt, dtype: int64
---
Column Names: structuretaxvaluedollarcnt
(-9016.754, 916623.3]     50851
(916623.3, 1833098.6]       732
(1833098.6, 2749573.9]       95
(2749573.9, 3666049.2]       35
(3666049.2, 4582524.5]        8
(4582524.5, 5498999.8]        7
(5498999.8, 6415475.1]        2
(6415475.1, 7331950.4]        1
(7331950.4, 8248425.7]        4
(8248425.7, 9164901.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
---
Column Names: home_value
(-22123.997, 2541053.6]     50921
(2541053.6, 5078853.2]        633
(5078853.2, 7616652.8]        122
(7616652.8, 10154452.4]        33
(10154452.4, 12692252.0]       10
(12692252.0, 15230051.6]        5
(15230051.6, 17767851.2]        5
(17767851.2, 20305650.8]        3
(20305650.8, 22843450.4]        1
(22843450.4, 25381250.0]        3
Name: home_value, dtype: int64
---
Column Names: landtaxvaluedollarcnt
(-22174.34, 2233694.9]      51276
(2233694.9, 4467228.8]        337
(4467228.8, 6700762.7]         87
(6700762.7, 8934296.6]         15
(8934296.6, 11167830.5]        11
(11167830.5, 13401364.4]        4
(13401364.4, 15634898.3]        2
(15634898.3, 17868432.2]        1
(17868432.2, 20101966.1]        2
(20101966.1, 22335500.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
---
Column Names: logerror
(-4.666, -3.664]        2
(-3.664, -2.672]        0
(-2.672, -1.68]        26
(-1.68, -0.688]       102
(-0.688, 0.304]     50279
(0.304, 1.296]       1199
(1.296, 2.287]         74
(2.287, 3.279]         52
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
---
Column Names: aircon
Other      39940
Central    11640
None         156
Name: aircon, dtype: int64
Column Names: heating
Central       20407
None          18302
Floor/Wall    12438
Other           589
Name: heating, dtype: int64
Column Names: age
(5.861, 19.8]      2865
(19.8, 33.6]       5908
(33.6, 47.4]       6917
(47.4, 61.2]      10162
(61.2, 75.0]      16818
(75.0, 88.8]       3852
(88.8, 102.6]      4027
(102.6, 116.4]     1001
(116.4, 130.2]      165
(130.2, 144.0]       21
Name: age, dtype: int64
---
Column Names: openness
(19.296999999999997, 263.393]    10828
(263.393, 505.071]               38520
(505.071, 746.75]                 2259
(746.75, 988.429]                  102
(988.429, 1230.107]                 18
(1230.107, 1471.786]                 5
(1471.786, 1713.464]                 2
(1713.464, 1955.143]                 1
(1955.143, 2196.821]                 0
(2196.821, 2438.5]                   1
Name: openness, dtype: int64
---
Column Names: tax_per_sqft
(-1.644, 168.282]       48394
(168.282, 336.523]       3014
(336.523, 504.765]        230
(504.765, 673.007]         54
(673.007, 841.248]         18
(841.248, 1009.49]         14
(1009.49, 1177.732]         3
(1177.732, 1345.974]        6
(1345.974, 1514.215]        2
(1514.215, 1682.457]        1
Name: tax_per_sqft, dtype: int64
---
Column Names: home_size
medium    25943
small     12946
large     12847
Name: home_size, dtype: int64
Column Names: est_tax_rate
(-0.0014, 0.0494]    51649
(0.0494, 0.0988]        62
(0.0988, 0.148]         17
(0.148, 0.198]           2
(0.198, 0.247]           1
(0.247, 0.296]           2
(0.296, 0.346]           1
(0.346, 0.395]           0
(0.395, 0.444]           0
(0.444, 0.494]           2
Name: est_tax_rate, dtype: int64
---
Report Finished

# Functions For Export

## Modeling Prep

In [3]:
def modeling_prep (train, train_scaled, validate, validate_scaled, test, test_scaled):
   """
   Purpose
      To return X, y subsets for training, validation, and testing of models

   Parameters
      train/validate/test: dataframes containing appropriate subsets of data
      train_scaled, validate_scaled, test_scaled: dataframes contianing scaled versions of approrpriate subsets of data

   Returns
      X_train, y_train, X_val, y_val, X_test, y_test: dataframes containing appropriate subsets of data
   """
   # create X,y for train, validate and test subsets
   X_train = train_scaled.drop(columns=['logerror'])
   y_train = train.logerror
   X_val = validate_scaled.drop(columns=['logerror'])
   y_val = validate.logerror
   X_test = test_scaled.drop(columns=['logerror'])
   y_test = test.logerror

   #shift y subsets into a data frame
   y_train = pd.DataFrame(y_train)
   y_val = pd.DataFrame(y_val)
   y_test = pd.DataFrame(y_test)

   #add baseline predictions
   y_train['pred_median'] = y_train.logerror.median()
   y_val['pred_median'] = y_val.logerror.median()
   y_test['pred_median'] = y_test.logerror.median()

   #get dummies for X subsets
   dummy_columns = ['county',
               'poolcnt',
               'home_size',
               'aircon',
               'heating',
               'cluster house_tax',
               'cluster house_details',
               'cluster house_sizing',
               'cluster house_locale',
               ]
   X_train = pd.get_dummies(X_train, columns=dummy_columns, drop_first=True)
   X_val = pd.get_dummies(X_val, columns=dummy_columns, drop_first=True)
   X_test = pd.get_dummies(X_test, columns=dummy_columns, drop_first=True)

   return X_train, y_train, X_val, y_val, X_test, y_test

In [4]:
X_train, y_train, X_val, y_val, X_test, y_test = modeling_prep(train, train_scaled, validate, validate_scaled, test, test_scaled)

## Select K Best

In [5]:
def select_kbest(X, y, k): 
    """
    Purpose
        To return the top features selecting by the SelectKBest function

    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       k: the number of features for the function to suggest 
    Returns
       f_top_features: list of the top features selected by SelectKBest function
    """
    # initilize selector object
    f_selector = SelectKBest(f_regression, k=k)

    #fit object --> will find top 2 as requested
    f_selector.fit(X, y)

    # create mask
    feature_mask = f_selector.get_support()

    # use mask to show list of feature support
    f_top_features = X.iloc[:,feature_mask].columns.tolist()

    return f_top_features

## RFE

In [6]:
def rfe (X, y, n):
    """
    Purpose
        To return the top features selected by the RFE function

    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       n: the number of features for the function to select 
    Returns
       rfe_tip_features: list of the top features selected by SelectKBest function
    """
    #initialize  regression object
    lm = LinearRegression()

    # initilize RFE object with n features
    rfe = RFE(lm, n_features_to_select=n)

    #fit object onto data
    rfe.fit(X, y)

    #create boolean mask for columns model selects 
    feature_mask = rfe.support_

    # use mask to show list of selected features
    rfe_top_features = X.iloc[:, feature_mask].columns.tolist()

    return rfe_top_features

## Get Features

In [7]:
def get_features(X_train, y_train):
    """
    Purpose
        create a list of feature combinations to feed into the various models

    Parameters
       X_train: dataframe containing X subset of features for the data subset
       y_train: dataframe with series containing the target variable
       
    Returns
       feat_combos: list feature combinations
    """
    #create lists of features

    tax_feat = ['cluster house_tax_0.25', 'cluster house_tax_0.5', 'cluster house_tax_0.75', 'cluster house_tax_1.0',
                  'cluster house_locale_0.25', 'cluster house_locale_0.5', 'cluster house_locale_0.75', 'cluster house_locale_1.0',
                  'cluster house_sizing_0.25', 'cluster house_sizing_0.5', 'cluster house_sizing_0.75', 'cluster house_sizing_1.0',
                  'area', 'poolcnt_1.0', 'home_value', 'county_Orange County', 'county_Ventura County']

    details_feat = ['cluster house_details_0.3333333333333333', 'cluster house_details_0.6666666666666666', 'cluster house_details_1.0',
                  'cluster house_tax_0.25', 'cluster house_tax_0.5', 'cluster house_tax_0.75', 'cluster house_tax_1.0',
                  'cluster house_locale_0.25', 'cluster house_locale_0.5', 'cluster house_locale_0.75', 'cluster house_locale_1.0',
                  'area', 'poolcnt_1.0', 'home_value', 'county_Orange County', 'county_Ventura County']

    sizing_feat = ['cluster house_sizing_0.25', 'cluster house_sizing_0.5', 'cluster house_sizing_0.75', 'cluster house_sizing_1.0',
                  'cluster house_locale_0.25', 'cluster house_locale_0.5', 'cluster house_locale_0.75', 'cluster house_locale_1.0',
                  'area', 'poolcnt_1.0', 'home_value', 'county_Orange County', 'county_Ventura County']

    locale_feat = ['cluster house_locale_0.25', 'cluster house_locale_0.5', 'cluster house_locale_0.75', 'cluster house_locale_1.0',
                  'cluster house_details_0.3333333333333333', 'cluster house_details_0.6666666666666666', 'cluster house_details_1.0',
                  'area', 'poolcnt_1.0', 'home_value', ]

    feat_rfe = rfe(X_train, y_train.logerror, 10)
    print(feat_rfe)
    feat_sk_best = select_kbest(X_train, y_train.logerror, 10)
    print(feat_sk_best)

    #combine lists of features into large list feature all selected combinations
    feat_combos = [tax_feat, details_feat, sizing_feat, locale_feat, feat_rfe, feat_sk_best]

    return feat_combos

In [8]:
get_features(X_train, y_train)

['area', 'lotsizesquarefeet', 'structuretaxvaluedollarcnt', 'home_value', 'landtaxvaluedollarcnt', 'openness', 'tax_per_sqft', 'poolcnt_1.0', 'cluster house_details_0.3333333333333333', 'cluster house_details_0.6666666666666666']
['bathrooms', 'bedrooms', 'area', 'garagecarcnt', 'garagetotalsqft', 'county_Orange County', 'home_size_large', 'heating_None', 'cluster house_sizing_0.75', 'cluster house_locale_0.25']

[['cluster house_tax_0.25',
  'cluster house_tax_0.5',
  'cluster house_tax_0.75',
  'cluster house_tax_1.0',
  'cluster house_locale_0.25',
  'cluster house_locale_0.5',
  'cluster house_locale_0.75',
  'cluster house_locale_1.0',
  'cluster house_sizing_0.25',
  'cluster house_sizing_0.5',
  'cluster house_sizing_0.75',
  'cluster house_sizing_1.0',
  'area',
  'poolcnt_1.0',
  'home_value',
  'county_Orange County',
  'county_Ventura County'],
 ['cluster house_details_0.3333333333333333',
  'cluster house_details_0.6666666666666666',
  'cluster house_details_1.0',
  'cluster house_tax_0.25',
  'cluster house_tax_0.5',
  'cluster house_tax_0.75',
  'cluster house_tax_1.0',
  'cluster house_locale_0.25',
  'cluster house_locale_0.5',
  'cluster house_locale_0.75',
  'cluster house_locale_1.0',
  'area',
  'poolcnt_1.0',
  'home_value',
  'county_Orange County',
  'county_Ventura County'],
 ['cluster house_sizing_0.25',
  'cluster house_sizing_0.5',
  'cluster house_sizing_0.75',
  'cluster house_sizing_1.0',
  'cluster house_locale_0.25',
  'cluster house_locale_0.5',
  'cluster house_locale_0.75',
  'cluster house_locale_1.0',
  'area',
  'poolcnt_1.0',
  'home_value',
  'county_Orange County',
  'county_Ventura County'],
 ['cluster house_locale_0.25',
  'cluster house_locale_0.5',
  'cluster house_locale_0.75',
  'cluster house_locale_1.0',
  'cluster house_details_0.3333333333333333',
  'cluster house_details_0.6666666666666666',
  'cluster house_details_1.0',
  'area',
  'poolcnt_1.0',
  'home_value'],
 ['area',
  'lotsizesquarefeet',
  'structuretaxvaluedollarcnt',
  'home_value',
  'landtaxvaluedollarcnt',
  'openness',
  'tax_per_sqft',
  'poolcnt_1.0',
  'cluster house_details_0.3333333333333333',
  'cluster house_details_0.6666666666666666'],
 ['bathrooms',
  'bedrooms',
  'area',
  'garagecarcnt',
  'garagetotalsqft',
  'county_Orange County',
  'home_size_large',
  'heating_None',
  'cluster house_sizing_0.75',
  'cluster house_locale_0.25']]

In [9]:
# feat_combos = get_features(X_train, y_train)

## PF Mod

In [10]:
def pf_mod(X, y, selectors, scores, fit_train=None, fit_y_train=None):
    """
    Purpose
       to create, train, and score linear regression models using polynomial features
    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       selectors: list of different feature and degree combinations for use with models
       fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
       fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
    Returns
       pf_description: dataFrame containing the scores, features, and parameters of the created models
    """
    #create empty data frame to hold model descriptions    
    #pf_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])
    
    #loop through selector combinations to pull out different features and degree levels
    for idx, combo in enumerate(selectors):
        #create features object
        pf = PolynomialFeatures(degree=combo[1])
        #initialize model object
        lm = LinearRegression(normalize=True)
        #fit object on X_train subset depeneding on its position as parameter or the optional variant
        if fit_train is not None:
            fit_pf = pf.fit_transform(fit_train[combo[0]])
            X_pf = pf.transform(X[combo[0]])  
            lm.fit(fit_pf, fit_y_train.logerror)
        else:
            X_pf = pf.fit_transform(X[combo[0]])
            lm.fit(X_pf, y.logerror)

        model_label = f'Polynomial_{idx+1}'

        #predict
        if model_label in y:
            model_label = f'Polynomial_{randint(50,100)}'
            y[model_label] = lm.predict(X_pf)
        else:
            y[model_label] = lm.predict(X_pf)
         
        #calculate train rmse
        rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

        description = pd.DataFrame([[model_label, rmse, combo[0], f'Degree: {combo[1]}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
        #pf_descriptions = pd.concat([pf_descriptions, description])
        scores = pd.concat([scores, description], ignore_index=True)

    return scores, y

In [11]:
# Notebook testing section
# #create a list of parameters
# pf_parameters = [2,3,4]

# #use list with product to create tuples of feature/parameter combination to feed into model
# pf_selectors = list(product(feat_combos, pf_parameters))

# #call pf function to get predictions for the Polynomial models and add to the dataframe
# pf_scores = pf_mod(X_train, y_train, pf_selectors, pf_scores)

# pf_scores

## OLS Mod

In [12]:
def ols_mod(X, y, selectors, scores, fit_x_train=None, fit_y_train=None):
    """
    Purpose
       to create, train, and score ordinary least squares linear regression modelss
    Parameters
       X: dataframe containing X subset of features for the data subset
       y: dataframe with series containing the target variable
       selectors: list of different feature and degree combinations for use with models
       fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
       fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
    Returns
       pf_description: dataFrame containing the scores, features, and parameters of the created models
    """

    #loop through selector combinations to pull out different features and degree levels
    for idx, features in enumerate(selectors):  
        #create model object
        lm = LinearRegression()
        
        #fit object on X_train subset depeneding on its position as parameter or the optional variant
        if fit_x_train is not None:
            lm.fit(fit_x_train[features], fit_y_train.logerror)
        else:   
            lm.fit(X[features], y.logerror)

        #create mdoel label
        model_label = f'OLS_{idx+1}'

        if model_label in y:
            model_label = f'OLS_{randint(50,100)}'
            y[model_label] = lm.predict(X[features])
        else:
            y[model_label] = lm.predict(X[features]) 

        #calc trian rmse
        rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

        description = pd.DataFrame([[model_label, rmse, features, 'N/A']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
        scores = pd.concat([scores, description], ignore_index=True)

    return scores, y

## Lars Mod

In [13]:
def lars_mod(X, y, selectors, scores, fit_x_train=None, fit_y_train=None):
   """
   Purpose
      to create, train, and score linear regression models using polynomial features
   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """

   #create empty data frame to hold model descriptions    
   lars_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

   #loop through selector combinations to pull out different features and degree levels
   for idx, selector in enumerate(selectors):  
      #create model object
      lars = LassoLars(alpha=selector[1])
      #create mdoel label
      model_label = f'LARS_{idx+1}'

      if fit_x_train is not None:
         lars.fit(fit_x_train[selector[0]], fit_y_train.logerror)
      else:   
         lars.fit(X[selector[0]], y.logerror)

      #predict train
      if model_label in y:
         model_label = f'LARS_{randint(50,100)}'
         y[model_label] = lars.predict(X[selector[0]])
      else:
         y[model_label] = lars.predict(X[selector[0]]) 

      #calc trian rmse
      rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

      description = pd.DataFrame([[model_label, rmse, selector[0], f'Alpha: {selector[1]}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
      scores = pd.concat([scores, description], ignore_index=True)

   return scores, y

## GLM Mod

In [14]:
def GLM_mod(X, y, selectors, scores, fit_x_train=None, fit_y_train=None):
   """
   Purpose
      to create, train, and score linear regression models using polynomial features
   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """
   
   #create empty data frame to hold model descriptions    
   glm_descriptions = pd.DataFrame({}, columns=['Name','RMSE', 'Features', 'Parameters'])

   #create empty data frame to hold model descriptions    
   for idx, selector in enumerate(selectors):  
      #create model object
      glm = TweedieRegressor(power=selector[1][0], alpha=selector[1][1])

      #create model label
      model_label = f'GLM_{idx+1}'

      #fit mode 
      #glm.fit(X, y.logerror)
      #fit object on X_train subset depeneding on its position as parameter or the optional variant
      if fit_x_train is not None:
         glm.fit(fit_x_train[selector[0]], fit_y_train.logerror)
      else:   
         glm.fit(X[selector[0]], y.logerror)

      #predict train
      if model_label in y:
         model_label = f'GLM_{randint(50,100)}'
         y[model_label] = glm.predict(X[selector[0]])
      else:
         y[model_label] = glm.predict(X[selector[0]])
         
      #calc rmse
      rmse = mean_squared_error(y.logerror, y[model_label], squared=False)

      description = pd.DataFrame([[model_label, rmse, selector[0], f'Power,Alpha: {selector[1]}']], columns=['Name', 'RMSE', 'Features', 'Parameters'])
      scores = pd.concat([scores, description], ignore_index=True)

   return scores, y

In [15]:
#Notebook Testing Section
# Contains code to test modeling functions separately from each other

# #run ols model with feature combinations
# olf_descriptions = ols_mod(X_train, y_train, feat_combos)
# olf_descriptions
# #create a list of parameters
# lars_parameters = [.1, .2, .5, .6, .75, .9, 1]

# lars_descriptions = lars_mod(X_train, y_train, lars_parameters)
# lars_descriptions
# #create a list of parameters
# glm_parameters = [(0,0), (0,.25), (0,.5), (0,.75), (0,1)]

# glm_descriptions = GLM_mod(X_train, y_train, glm_parameters)

# glm_descriptions

# Train and Score

In [16]:
def score_on_train(X_train, y_train): 
   """
   Purpose
      to create, train, and score linear regression models using diffent feature sets
   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """
   y_train = y_train[['logerror', 'pred_median']]

   #calc rmse
   rmse = mean_squared_error(y_train.logerror, y_train.pred_median, squared=False)

   #create empty dataframe to hold model descriptions
   scores = pd.DataFrame([['pred_median', rmse, 0, 'N/A', 'N/A']], columns=['Name','RMSE', 'r^2 score','Features', 'Parameters'])
   
   #create lists of features
   feat_combos = get_features(X_train, y_train)

   #create a lists of parameters
   pf_parameters = [2]
   lars_parameters = [0, .1]
   glm_parameters = [(0,0), (0,.25), (0,.5), (0,.75), (0,1)]

   #use list with product to create tuples of feature/parameter combination to feed into model
   pf_selectors = list(product(feat_combos, pf_parameters))
   lars_selectors =  list(product(feat_combos, lars_parameters))
   glm_selectors =  list(product(feat_combos, glm_parameters))

   #run ols model with feature combinations
   scores, holder = pf_mod(X_train, y_train, pf_selectors, scores)
   scores, holder = ols_mod(X_train, y_train, feat_combos, scores)
   scores, holder = lars_mod(X_train, y_train, lars_selectors, scores)
   scores, holder = GLM_mod(X_train, y_train, glm_selectors, scores)


   for idx, model in enumerate(y_train.drop(columns='logerror').columns):
      scores.iat[(idx),2] = explained_variance_score(y_train['logerror'], y_train[model])

   return scores

In [17]:
train_scores = score_on_train(X_train, y_train)

['area', 'lotsizesquarefeet', 'structuretaxvaluedollarcnt', 'home_value', 'landtaxvaluedollarcnt', 'openness', 'tax_per_sqft', 'poolcnt_1.0', 'cluster house_details_0.3333333333333333', 'cluster house_details_0.6666666666666666']
['bathrooms', 'bedrooms', 'area', 'garagecarcnt', 'garagetotalsqft', 'county_Orange County', 'home_size_large', 'heating_None', 'cluster house_sizing_0.75', 'cluster house_locale_0.25']

In [18]:
round(train_scores.sort_values(by='RMSE'), 10)

,Name,RMSE,r^2 score,Features,Parameters
1,Polynomial_1,0.185110,0.015915,"[cluster house_tax_0.25, cluster house_tax_0.5...",Degree: 2
3,Polynomial_3,0.185343,0.013438,"[cluster house_sizing_0.25, cluster house_sizi...",Degree: 2
2,Polynomial_2,0.185467,0.012114,"[cluster house_details_0.3333333333333333, clu...",Degree: 2
5,Polynomial_5,0.185661,0.010049,"[area, lotsizesquarefeet, structuretaxvaluedol...",Degree: 2
13,LARS_1,0.185889,0.007616,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0
7,OLS_1,0.185889,0.007616,"[cluster house_tax_0.25, cluster house_tax_0.5...",N/A
17,LARS_5,0.185938,0.007093,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0
9,OLS_3,0.185938,0.007093,"[cluster house_sizing_0.25, cluster house_sizi...",N/A
35,GLM_11,0.185943,0.007035,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0)"
25,GLM_1,0.185957,0.006886,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0)"
15,LARS_3,0.185962,0.006830,"[cluster house_details_0.3333333333333333, clu...",Alpha: 0
8,OLS_2,0.185962,0.006830,"[cluster house_details_0.3333333333333333, clu...",N/A
30,GLM_6,0.186014,0.006273,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0)"
21,LARS_9,0.186034,0.006061,"[area, lotsizesquarefeet, structuretaxvaluedol...",Alpha: 0
11,OLS_5,0.186034,0.006060,"[area, lotsizesquarefeet, structuretaxvaluedol...",N/A
45,GLM_21,0.186042,0.005978,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 0)"
6,Polynomial_6,0.186043,0.005964,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Degree: 2
19,LARS_7,0.186050,0.005889,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0
10,OLS_4,0.186050,0.005889,"[cluster house_locale_0.25, cluster house_loca...",N/A
40,GLM_16,0.186051,0.005883,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0)"
12,OLS_6,0.186220,0.004075,"[bathrooms, bedrooms, area, garagecarcnt, gara...",N/A
23,LARS_11,0.186220,0.004075,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Alpha: 0
50,GLM_26,0.186227,0.003997,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0)"
26,GLM_2,0.186289,0.003339,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.25)"
4,Polynomial_4,0.186323,0.002975,"[cluster house_locale_0.25, cluster house_loca...",Degree: 2
36,GLM_12,0.186352,0.002663,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.25)"
51,GLM_27,0.186354,0.002636,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.25)"
31,GLM_7,0.186383,0.002329,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.25)"
27,GLM_3,0.186384,0.002324,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.5)"
52,GLM_28,0.186410,0.002047,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.5)"
37,GLM_13,0.186428,0.001850,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.5)"
28,GLM_4,0.186433,0.001793,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.75)"
32,GLM_8,0.186441,0.001713,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.5)"
53,GLM_29,0.186444,0.001674,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.75)"
29,GLM_5,0.186464,0.001461,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 1)"
38,GLM_14,0.186467,0.001428,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.75)"
54,GLM_30,0.186469,0.001414,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 1)"
33,GLM_9,0.186472,0.001373,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.75)"
41,GLM_17,0.186482,0.001275,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.25)"
39,GLM_15,0.186492,0.001163,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 1)"
34,GLM_10,0.186493,0.001149,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 1)"
42,GLM_18,0.186517,0.000901,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.5)"
43,GLM_19,0.186535,0.000708,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.75)"
46,GLM_22,0.186543,0.000621,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 0.25)"
44,GLM_20,0.186546,0.000583,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 1)"
47,GLM_23,0.186558,0.000454,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 0.5)"
48,GLM_24,0.186567,0.000361,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 0.75)"
49,GLM_25,0.186573,0.000299,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 1)"
14,LARS_2,0.186601,0.000000,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0.1
16,LARS_4,0.186601,0.000000,"[cluster house_details_0.3333333333333333, clu...",Alpha: 0.1
20,LARS_8,0.186601,0.000000,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0.1
22,LARS_10,0.186601,0.000000,"[area, lotsizesquarefeet, structuretaxvaluedol...",Alpha: 0.1
24,LARS_12,0.186601,0.000000,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Alpha: 0.1
18,LARS_6,0.186601,0.000000,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0.1
0,pred_median,0.187037,0.000000,N/A,N/A

# Validate and Score

In [19]:
def score_on_validate(train_scores, X_val, y_val, X_train, y_train): 
   """
   Purpose

   Parameters
      X: dataframe containing X subset of features for the data subset
      y: dataframe with series containing the target variable
      selectors: list of different feature and degree combinations for use with models
      fit_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
      fit_y_train: optional, X_train subset of data to fit the model when needing to score validation or test subsets
   Returns
      pf_description: dataFrame containing the scores, features, and parameters of the created models
   """
   y_val = y_val[['logerror', 'pred_median']]
   
   #create new dataframe that is the top 10 (for and runs them)
   validate_scores = train_scores.copy(deep=True)
   validate_scores = validate_scores.set_index('Name')

   #calc rmse
   rmse = mean_squared_error(y_val.logerror, y_val.pred_median, squared=False)

   #create empty dataframe to hold model descriptions
   model_descriptions = pd.DataFrame([['pred_median', rmse, 0, 'N/A', 'N/A']], columns=['Name','RMSE', 'r^2 score','Features', 'Parameters'])
   
   for model in validate_scores.index:
      #empty list to hold feature combinations
      feat_combos = []
  
      #create a lists of parameters
      pf_selectors = []
      lars_selectors = []
      glm_selectors = []

      if model.startswith('Pol'):
         features = validate_scores.loc[model]['Features']
         degree = int(validate_scores.loc[model]['Parameters'][-1])
         pf_selectors.append((features, degree))
         model_descriptions, y_val = pf_mod(X_val, y_val, pf_selectors, model_descriptions, X_train, y_train)
      elif model.startswith('GLM'):
         pow_alpha = eval(validate_scores.loc[model]['Parameters'][13:])
         features = validate_scores.loc[model]['Features']
         glm_selectors.append((features,pow_alpha))
         model_descriptions, y_val = GLM_mod(X_val, y_val, glm_selectors, model_descriptions, X_train, y_train)
      elif model.startswith('LARS'):
         features = validate_scores.loc[model]['Features']
         alpha = eval(validate_scores.loc[model]['Parameters'][7:])
         lars_selectors.append((features, alpha))
         model_descriptions, y_val = lars_mod(X_val, y_val, lars_selectors, model_descriptions, X_train, y_train)
      elif model.startswith('OLS_'):
         feat_combos.append((validate_scores.loc[model]['Features']))
         model_descriptions, y_val = ols_mod(X_val, y_val, feat_combos, model_descriptions, X_train, y_train)
      
      model_descriptions.iat[-1, 0] = model
      
   for idx, model in enumerate(y_val.drop(columns='logerror').columns):
      model_descriptions.iat[idx,2] = explained_variance_score(y_val['logerror'], y_val[model])

   return model_descriptions, y_val

In [20]:
validate_scores, y_val = score_on_validate(train_scores, X_val, y_val, X_train, y_train)

In [21]:
round(validate_scores.sort_values(by='RMSE'), 10)

,Name,RMSE,r^2 score,Features,Parameters
45,GLM_21,1.655505e-01,7.143774e-04,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 0)"
21,LARS_9,1.655622e-01,6.518911e-04,"[area, lotsizesquarefeet, structuretaxvaluedol...",Alpha: 0
11,OLS_5,1.655641e-01,2.770387e-03,"[area, lotsizesquarefeet, structuretaxvaluedol...",N/A
13,LARS_1,1.656616e-01,2.793213e-03,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0
7,OLS_1,1.656616e-01,1.610305e-03,"[cluster house_tax_0.25, cluster house_tax_0.5...",N/A
26,GLM_2,1.656622e-01,8.156004e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.25)"
35,GLM_11,1.656668e-01,4.138311e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0)"
25,GLM_1,1.656696e-01,9.807110e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0)"
36,GLM_12,1.656708e-01,1.369266e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.25)"
17,LARS_5,1.656813e-01,-0.000000e+00,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0
9,OLS_3,1.656813e-01,1.354881e-03,"[cluster house_sizing_0.25, cluster house_sizi...",N/A
27,GLM_3,1.656945e-01,9.694200e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.5)"
37,GLM_13,1.657039e-01,2.939456e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.5)"
10,OLS_4,1.657079e-01,6.356042e-04,"[cluster house_locale_0.25, cluster house_loca...",N/A
19,LARS_7,1.657082e-01,-0.000000e+00,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0
51,GLM_27,1.657084e-01,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.25)"
40,GLM_16,1.657136e-01,1.102686e-04,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0)"
50,GLM_26,1.657137e-01,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0)"
28,GLM_4,1.657140e-01,6.377027e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.75)"
52,GLM_28,1.657173e-01,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.5)"
15,LARS_3,1.657180e-01,-0.000000e+00,"[cluster house_details_0.3333333333333333, clu...",Alpha: 0
8,OLS_2,1.657186e-01,9.272864e-04,"[cluster house_details_0.3333333333333333, clu...",N/A
38,GLM_14,1.657220e-01,2.957236e-03,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.75)"
53,GLM_29,1.657261e-01,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.75)"
29,GLM_5,1.657269e-01,5.874369e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 1)"
30,GLM_6,1.657280e-01,4.638292e-04,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0)"
54,GLM_30,1.657340e-01,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 1)"
39,GLM_15,1.657354e-01,1.437882e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 1)"
23,LARS_11,1.657411e-01,1.622229e-03,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Alpha: 0
31,GLM_7,1.657412e-01,1.244402e-04,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.25)"
12,OLS_6,1.657425e-01,1.610305e-03,"[bathrooms, bedrooms, area, garagecarcnt, gara...",N/A
32,GLM_8,1.657466e-01,8.759799e-04,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.5)"
41,GLM_17,1.657507e-01,9.801278e-04,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.25)"
33,GLM_9,1.657525e-01,7.252713e-04,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.75)"
34,GLM_10,1.657558e-01,5.333598e-04,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 1)"
42,GLM_18,1.657604e-01,1.032044e-03,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.5)"
43,GLM_19,1.657660e-01,9.237275e-04,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.75)"
44,GLM_20,1.657700e-01,8.114479e-04,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 1)"
46,GLM_22,1.657812e-01,NaN,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 0.25)"
47,GLM_23,1.657821e-01,NaN,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 0.5)"
48,GLM_24,1.657822e-01,NaN,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 0.75)"
49,GLM_25,1.657830e-01,NaN,"[area, lotsizesquarefeet, structuretaxvaluedol...","Power,Alpha: (0, 1)"
20,LARS_8,1.657921e-01,-0.000000e+00,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0.1
18,LARS_6,1.657921e-01,1.023595e-03,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0.1
14,LARS_2,1.657921e-01,9.337761e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0.1
16,LARS_4,1.657921e-01,1.354881e-03,"[cluster house_details_0.3333333333333333, clu...",Alpha: 0.1
24,LARS_12,1.657921e-01,1.226152e-03,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Alpha: 0.1
22,LARS_10,1.657921e-01,1.521549e-03,"[area, lotsizesquarefeet, structuretaxvaluedol...",Alpha: 0.1
6,Polynomial_6,1.658083e-01,-1.968622e-04,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Degree: 2
0,pred_median,1.660070e-01,-0.000000e+00,N/A,N/A
5,Polynomial_5,1.660241e-01,-2.815142e-03,"[area, lotsizesquarefeet, structuretaxvaluedol...",Degree: 2
3,Polynomial_3,1.661133e-01,-3.865864e-03,"[cluster house_sizing_0.25, cluster house_sizi...",Degree: 2
1,Polynomial_1,1.663291e-01,-6.453409e-03,"[cluster house_tax_0.25, cluster house_tax_0.5...",Degree: 2
4,Polynomial_4,7.083104e+09,-1.826124e+21,"[cluster house_locale_0.25, cluster house_loca...",Degree: 2
2,Polynomial_2,2.141648e+10,-1.669473e+22,"[cluster house_details_0.3333333333333333, clu...",Degree: 2

In [22]:
validate_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        55 non-null     object
 1   RMSE        55 non-null     float64
 2   r^2 score   46 non-null     float64
 3   Features    55 non-null     object
 4   Parameters  55 non-null     object
dtypes: float64(2), object(3)
memory usage: 2.3+ KB

# Takeaways
* During initial testing a lot of overfitting happening when using all features
* `locale_feat` is set of features focusing on the clusters created using location based selection
* further bolstered feature sets by including features taken from models that did not perform as well, but were not at the bottom of the pack
* models us feature clusters based on tax or tax value did not perform well compared to the rest
* used features that appeared from rfe and select_kbest feature selection tools to bolster feature sets
-----------
* After continued testing the polynomial perform worse with the more robust feature sets. highly suggestive of overfitting. Will be eliminating those of degree 3 or more from further experimentation. 
* LARS models appear to be similarly unproductive
-----------
* including the locale clustering as features boosted performance of models using features with tax clusters and sizing clusters. however, also added in area, pool count, home value, and county
* for next round of mass model testing will add further blends that are inclusive of the tax, sizing, and locale clusters
-----------
* Best Performing Model: GLM 1, Power: 0, Alpha: 0

# Test

In [23]:
validate_scores.sort_values(by='RMSE').head(1)[['Features', 'Parameters']]

                                             Features           Parameters
45  [area, lotsizesquarefeet, structuretaxvaluedol...  Power,Alpha: (0, 0)

In [24]:
#reset y_test variable to remove scores from previous model
y_test = y_test[['logerror', 'pred_median']]

#find rmse of baseline predictions 
test_pred_rmse = mean_squared_error(y_test.logerror, y_test.pred_median, squared=False)

#creates dataframe to hold model score on test set
test_score = pd.DataFrame([['pred_median', test_pred_rmse, 0, 'N/A', 'N/A']], columns=['Name','RMSE', 'r^2 score','Features', 'Parameters'])

#select parameters or features for final modeling on test set
#test_selectors = [(['bedrooms', 'area', 'county_Orange County', 'home_size_large'], 2)]
test_features = ['basementsqft', 'area', 'lotsizesquarefeet', 'structuretaxvaluedollarcnt', 'home_value',
                    'landtaxvaluedollarcnt', 'tax_per_sqft', 'poolcnt_1.0', 'cluster house_details_0.3333333333333333', 'cluster house_details_1.0']
test_parameters = (0,0)
test_selectors = [(test_features, test_parameters)]


#fit and use the model that scored highest on validate set
#test_score, holder = pf_mod(X_test, y_test, test_selectors, test_score, X_train, y_train)
test_score, holder = GLM_mod(X_test, y_test, test_selectors, test_score, X_train, y_train)

#adds correct model name to data frame
test_score.iat[1, 0] = 'GLM_1'

#add r^2 score 
test_score.iat[1,2] = explained_variance_score(y_test['logerror'], y_test.iloc[:,2])

In [25]:
test_score

,Name,RMSE,r^2 score,Features,Parameters
0,pred_median,0.153141,0.00000,N/A,N/A
1,GLM_1,0.152837,0.00039,"[basementsqft, area, lotsizesquarefeet, struct...","Power,Alpha: (0, 0)"

# Model Module Testing Section
* section to test if the functions are being imported correctly from our model.py module.
* important to test because we will be using the imports in our Final Report to cut down on code contained therein
* **IMPORTANT** : feature selection happens in the get_features function of the model.py module. Suggest testing various features sets in this notebook before hard coding them into the module function

In [26]:
df, train, validate, test, train_scaled, validate_scaled, test_scaled  = wrangle_zillow.wrangle_zillow()

(28971, 22) (12417, 22) (10348, 22)
-----
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51736 entries, 1727539 to 1187175
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   basementsqft                51736 non-null  float64
 1   bathrooms                   51736 non-null  float64
 2   bedrooms                    51736 non-null  float64
 3   area                        51736 non-null  float64
 4   county                      51736 non-null  object
 5   garagecarcnt                51736 non-null  float64
 6   garagetotalsqft             51736 non-null  float64
 7   latitude                    51736 non-null  float64
 8   longitude                   51736 non-null  float64
 9   lotsizesquarefeet           51736 non-null  float64
 10  poolcnt                     51736 non-null  float64
 11  structuretaxvaluedollarcnt  51736 non-null  float64
 12  home_value                  51736 non-null  float64
 13  landtaxvaluedollarcnt       51736 non-null  float64
 14  logerror                    51736 non-null  float64
 15  aircon                      51736 non-null  object
 16  heating                     51736 non-null  object
 17  age                         51736 non-null  float64
 18  openness                    51736 non-null  float64
 19  tax_per_sqft                51736 non-null  float64
 20  home_size                   51736 non-null  category
 21  est_tax_rate                51736 non-null  float64
dtypes: category(1), float64(18), object(3)
memory usage: 8.7+ MB
None
---
DataFrame describe:

       basementsqft     bathrooms      bedrooms          area  garagecarcnt  \
count  51736.000000  51736.000000  51736.000000  51736.000000  51736.000000
mean       0.616824      2.299018      3.307098   1918.913349      0.675294
std       29.478198      1.009984      0.931425    994.228663      0.982383
min        0.000000      0.000000      0.000000    152.000000      0.000000
25%        0.000000      2.000000      3.000000   1268.000000      0.000000
50%        0.000000      2.000000      3.000000   1657.000000      0.000000
75%        0.000000      3.000000      4.000000   2301.000000      2.000000
max     3560.000000     13.000000     11.000000  21929.000000     14.000000

       garagetotalsqft      latitude     longitude  lotsizesquarefeet  \
count     51736.000000  5.173600e+04  5.173600e+04       5.173600e+04
mean        171.828591  3.402185e+07 -1.181935e+08       1.121396e+04
std         253.462264  2.737223e+05  3.567770e+05       8.669737e+04
min           0.000000  3.334085e+07 -1.194754e+08       2.360000e+02
25%           0.000000  3.382654e+07 -1.183998e+08       5.581000e+03
50%           0.000000  3.402162e+07 -1.181519e+08       6.837000e+03
75%         432.000000  3.418688e+07 -1.179288e+08       8.775000e+03
max        4251.000000  3.481877e+07 -1.175546e+08       6.971010e+06

            poolcnt  structuretaxvaluedollarcnt    home_value  \
count  51736.000000                5.173600e+04  5.173600e+04
mean       0.212405                1.948265e+05  5.243006e+05
std        0.409014                2.507699e+05  7.109716e+05
min        0.000000                1.480000e+02  3.254000e+03
25%        0.000000                7.707000e+04  1.936448e+05
50%        0.000000                1.314265e+05  3.727910e+05
75%        0.000000                2.247025e+05  6.157250e+05
max        1.000000                9.164901e+06  2.538125e+07

       landtaxvaluedollarcnt      logerror           age      openness  \
count           5.173600e+04  51736.000000  51736.000000  51736.000000
mean            3.294741e+05      0.018158     58.681750    334.883808
std             5.187672e+05      0.175406     22.954315     91.017382
min             1.610000e+02     -4.655420      6.000000     21.714286
25%             7.565900e+04     -0.024570     43.000000    271.000000
50%             2.176990e+05      0.006912     62.000000    317.714286
75%             4.073015e+05      0.040462     72.000000    379.750000
max             2.233550e+07      5.262999    144.000000   2438.500000

       tax_per_sqft  est_tax_rate
count  51736.000000  51736.000000
mean      90.626743      0.013335
std       60.224115      0.005621
min        0.039833      0.000094
25%       54.827845      0.011634
50%       82.024732      0.012325
75%      113.280938      0.013676
max     1682.457143      0.493647
---
DataFrame null value asssessment:

Nulls By Column:                             num_rows_missing  percent_rows_missing
basementsqft                               0                   0.0
bathrooms                                  0                   0.0
bedrooms                                   0                   0.0
area                                       0                   0.0
county                                     0                   0.0
garagecarcnt                               0                   0.0
garagetotalsqft                            0                   0.0
latitude                                   0                   0.0
longitude                                  0                   0.0
lotsizesquarefeet                          0                   0.0
poolcnt                                    0                   0.0
structuretaxvaluedollarcnt                 0                   0.0
home_value                                 0                   0.0
landtaxvaluedollarcnt                      0                   0.0
logerror                                   0                   0.0
aircon                                     0                   0.0
heating                                    0                   0.0
age                                        0                   0.0
openness                                   0                   0.0
tax_per_sqft                               0                   0.0
home_size                                  0                   0.0
est_tax_rate                               0                   0.0
----
Nulls By Row:    num_cols_missing  percent_cols_missing     id
0                 0                   0.0  51736
value_counts:

Column Names: basementsqft
(-3.561, 356.0]     51707
(356.0, 712.0]         15
(712.0, 1068.0]         7
(1068.0, 1424.0]        3
(1424.0, 1780.0]        0
(1780.0, 2136.0]        2
(2136.0, 2492.0]        0
(2492.0, 2848.0]        0
(2848.0, 3204.0]        1
(3204.0, 3560.0]        1
Name: basementsqft, dtype: int64
---
Column Names: bathrooms
(-0.013999999999999999, 1.3]     9460
(1.3, 2.6]                      26496
(2.6, 3.9]                      11432
(3.9, 5.2]                       3600
(5.2, 6.5]                        571
(6.5, 7.8]                        103
(7.8, 9.1]                         65
(9.1, 10.4]                         5
(10.4, 11.7]                        3
(11.7, 13.0]                        1
Name: bathrooms, dtype: int64
---
Column Names: bedrooms
(-0.012, 1.1]      603
(1.1, 2.2]        8226
(2.2, 3.3]       23173
(3.3, 4.4]       15065
(4.4, 5.5]        3908
(5.5, 6.6]         625
(6.6, 7.7]         102
(7.7, 8.8]          23
(8.8, 9.9]           8
(9.9, 11.0]          3
Name: bedrooms, dtype: int64
---
Column Names: area
(130.222, 2329.7]     39199
(2329.7, 4507.4]      11377
(4507.4, 6685.1]        950
(6685.1, 8862.8]        154
(8862.8, 11040.5]        39
(11040.5, 13218.2]       12
(13218.2, 15395.9]        1
(15395.9, 17573.6]        2
(17573.6, 19751.3]        0
(19751.3, 21929.0]        2
Name: area, dtype: int64
---
Column Names: county
LA County         33393
Orange County     13999
Ventura County     4344
Name: county, dtype: int64
Column Names: garagecarcnt
(-0.015, 1.4]    36045
(1.4, 2.8]       14752
(2.8, 4.2]         869
(4.2, 5.6]          45
(5.6, 7.0]          15
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
---
Column Names: garagetotalsqft
(-4.252000000000001, 425.1]    38228
(425.1, 850.2]                 13134
(850.2, 1275.3]                  321
(1275.3, 1700.4]                  37
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
---
Column Names: latitude
(33339373.083, 33488642.6]      751
(33488642.6, 33636434.2]       3180
(33636434.2, 33784225.8]       6034
(33784225.8, 33932017.4]      10873
(33932017.4, 34079809.0]       8927
(34079809.0, 34227600.6]      12266
(34227600.6, 34375392.2]       4565
(34375392.2, 34523183.8]       1748
(34523183.8, 34670975.4]       2173
(34670975.4, 34818767.0]       1219
Name: latitude, dtype: int64
---
Column Names: longitude
(-119477336.781, -119283338.0]      159
(-119283338.0, -119091260.0]       1285
(-119091260.0, -118899182.0]       1050
(-118899182.0, -118707104.0]       1768
(-118707104.0, -118515026.0]       3777
(-118515026.0, -118322948.0]       9164
(-118322948.0, -118130870.0]       9918
(-118130870.0, -117938792.0]      11135
(-117938792.0, -117746714.0]       9051
(-117746714.0, -117554636.0]       4429
Name: longitude, dtype: int64
---
Column Names: lotsizesquarefeet
(-6734.775000000001, 697313.4]    51717
(697313.4, 1394390.8]                 8
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
---
Column Names: poolcnt
(-0.002, 0.1]    40747
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       10989
Name: poolcnt, dtype: int64
---
Column Names: structuretaxvaluedollarcnt
(-9016.754, 916623.3]     50851
(916623.3, 1833098.6]       732
(1833098.6, 2749573.9]       95
(2749573.9, 3666049.2]       35
(3666049.2, 4582524.5]        8
(4582524.5, 5498999.8]        7
(5498999.8, 6415475.1]        2
(6415475.1, 7331950.4]        1
(7331950.4, 8248425.7]        4
(8248425.7, 9164901.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
---
Column Names: home_value
(-22123.997, 2541053.6]     50921
(2541053.6, 5078853.2]        633
(5078853.2, 7616652.8]        122
(7616652.8, 10154452.4]        33
(10154452.4, 12692252.0]       10
(12692252.0, 15230051.6]        5
(15230051.6, 17767851.2]        5
(17767851.2, 20305650.8]        3
(20305650.8, 22843450.4]        1
(22843450.4, 25381250.0]        3
Name: home_value, dtype: int64
---
Column Names: landtaxvaluedollarcnt
(-22174.34, 2233694.9]      51276
(2233694.9, 4467228.8]        337
(4467228.8, 6700762.7]         87
(6700762.7, 8934296.6]         15
(8934296.6, 11167830.5]        11
(11167830.5, 13401364.4]        4
(13401364.4, 15634898.3]        2
(15634898.3, 17868432.2]        1
(17868432.2, 20101966.1]        2
(20101966.1, 22335500.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
---
Column Names: logerror
(-4.666, -3.664]        2
(-3.664, -2.672]        0
(-2.672, -1.68]        26
(-1.68, -0.688]       102
(-0.688, 0.304]     50279
(0.304, 1.296]       1199
(1.296, 2.287]         74
(2.287, 3.279]         52
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
---
Column Names: aircon
Other      39940
Central    11640
None         156
Name: aircon, dtype: int64
Column Names: heating
Central       20407
None          18302
Floor/Wall    12438
Other           589
Name: heating, dtype: int64
Column Names: age
(5.861, 19.8]      2865
(19.8, 33.6]       5908
(33.6, 47.4]       6917
(47.4, 61.2]      10162
(61.2, 75.0]      16818
(75.0, 88.8]       3852
(88.8, 102.6]      4027
(102.6, 116.4]     1001
(116.4, 130.2]      165
(130.2, 144.0]       21
Name: age, dtype: int64
---
Column Names: openness
(19.296999999999997, 263.393]    10828
(263.393, 505.071]               38520
(505.071, 746.75]                 2259
(746.75, 988.429]                  102
(988.429, 1230.107]                 18
(1230.107, 1471.786]                 5
(1471.786, 1713.464]                 2
(1713.464, 1955.143]                 1
(1955.143, 2196.821]                 0
(2196.821, 2438.5]                   1
Name: openness, dtype: int64
---
Column Names: tax_per_sqft
(-1.644, 168.282]       48394
(168.282, 336.523]       3014
(336.523, 504.765]        230
(504.765, 673.007]         54
(673.007, 841.248]         18
(841.248, 1009.49]         14
(1009.49, 1177.732]         3
(1177.732, 1345.974]        6
(1345.974, 1514.215]        2
(1514.215, 1682.457]        1
Name: tax_per_sqft, dtype: int64
---
Column Names: home_size
medium    25943
small     12946
large     12847
Name: home_size, dtype: int64
Column Names: est_tax_rate
(-0.0014, 0.0494]    51649
(0.0494, 0.0988]        62
(0.0988, 0.148]         17
(0.148, 0.198]           2
(0.198, 0.247]           1
(0.247, 0.296]           2
(0.296, 0.346]           1
(0.346, 0.395]           0
(0.395, 0.444]           0
(0.444, 0.494]           2
Name: est_tax_rate, dtype: int64
---
Report Finished

In [27]:
X_train, y_train, X_val, y_val, X_test, y_test = model.modeling_prep(train, train_scaled, validate, validate_scaled, test, test_scaled)

In [28]:
train_scores = model.score_on_train(X_train, y_train)

['area', 'lotsizesquarefeet', 'structuretaxvaluedollarcnt', 'home_value', 'landtaxvaluedollarcnt', 'openness', 'tax_per_sqft', 'poolcnt_1.0', 'cluster house_details_0.3333333333333333', 'cluster house_details_0.6666666666666666']
['bathrooms', 'bedrooms', 'area', 'garagecarcnt', 'garagetotalsqft', 'county_Orange County', 'home_size_large', 'heating_None', 'cluster house_sizing_0.75', 'cluster house_locale_0.25']

In [29]:
train_scores

,Name,RMSE,r^2 score,Features,Parameters
0,pred_median,0.187037,0.000000,N/A,N/A
1,Polynomial_1,0.185110,0.015915,"[cluster house_tax_0.25, cluster house_tax_0.5...",Degree: 2
2,Polynomial_2,0.185467,0.012114,"[cluster house_details_0.3333333333333333, clu...",Degree: 2
3,Polynomial_3,0.185343,0.013438,"[cluster house_sizing_0.25, cluster house_sizi...",Degree: 2
4,Polynomial_4,0.186323,0.002975,"[cluster house_locale_0.25, cluster house_loca...",Degree: 2
5,Polynomial_5,0.186043,0.005964,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Degree: 2
6,OLS_1,0.185889,0.007616,"[cluster house_tax_0.25, cluster house_tax_0.5...",N/A
7,OLS_2,0.185962,0.006830,"[cluster house_details_0.3333333333333333, clu...",N/A
8,OLS_3,0.185938,0.007093,"[cluster house_sizing_0.25, cluster house_sizi...",N/A
9,OLS_4,0.186050,0.005889,"[cluster house_locale_0.25, cluster house_loca...",N/A
10,OLS_5,0.186220,0.004075,"[bathrooms, bedrooms, area, garagecarcnt, gara...",N/A
11,LARS_1,0.185889,0.007616,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0
12,LARS_2,0.186601,0.000000,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0.1
13,LARS_3,0.185962,0.006830,"[cluster house_details_0.3333333333333333, clu...",Alpha: 0
14,LARS_4,0.186601,0.000000,"[cluster house_details_0.3333333333333333, clu...",Alpha: 0.1
15,LARS_5,0.185938,0.007093,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0
16,LARS_6,0.186601,0.000000,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0.1
17,LARS_7,0.186050,0.005889,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0
18,LARS_8,0.186601,0.000000,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0.1
19,LARS_9,0.186220,0.004075,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Alpha: 0
20,LARS_10,0.186601,0.000000,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Alpha: 0.1
21,GLM_1,0.185957,0.006886,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0)"
22,GLM_2,0.186289,0.003339,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.25)"
23,GLM_3,0.186384,0.002324,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.5)"
24,GLM_4,0.186433,0.001793,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.75)"
25,GLM_5,0.186464,0.001461,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 1)"
26,GLM_6,0.186014,0.006273,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0)"
27,GLM_7,0.186383,0.002329,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.25)"
28,GLM_8,0.186441,0.001713,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.5)"
29,GLM_9,0.186472,0.001373,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.75)"
30,GLM_10,0.186493,0.001149,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 1)"
31,GLM_11,0.185943,0.007035,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0)"
32,GLM_12,0.186352,0.002663,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.25)"
33,GLM_13,0.186428,0.001850,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.5)"
34,GLM_14,0.186467,0.001428,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.75)"
35,GLM_15,0.186492,0.001163,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 1)"
36,GLM_16,0.186051,0.005883,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0)"
37,GLM_17,0.186482,0.001275,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.25)"
38,GLM_18,0.186517,0.000901,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.5)"
39,GLM_19,0.186535,0.000708,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.75)"
40,GLM_20,0.186546,0.000583,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 1)"
41,GLM_21,0.186227,0.003997,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0)"
42,GLM_22,0.186354,0.002636,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.25)"
43,GLM_23,0.186410,0.002047,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.5)"
44,GLM_24,0.186444,0.001674,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.75)"
45,GLM_25,0.186469,0.001414,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 1)"

In [30]:
validate_scores, y_val = model.score_on_validate(train_scores, X_val, y_val, X_train, y_train)

In [31]:
validate_scores.sort_values(by='RMSE').head(15)

,Name,RMSE,r^2 score,Features,Parameters
11,LARS_1,0.165662,-2.220446e-16,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0
6,OLS_1,0.165662,1.610305e-03,"[cluster house_tax_0.25, cluster house_tax_0.5...",N/A
22,GLM_2,0.165662,9.807110e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.25)"
31,GLM_11,0.165667,5.333598e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0)"
21,GLM_1,0.165670,5.874369e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0)"
32,GLM_12,0.165671,4.138311e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.25)"
15,LARS_5,0.165681,-2.220446e-16,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0
8,OLS_3,0.165681,6.356042e-04,"[cluster house_sizing_0.25, cluster house_sizi...",N/A
23,GLM_3,0.165695,7.252713e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.5)"
33,GLM_13,0.165704,3.459827e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.5)"
9,OLS_4,0.165708,1.027523e-03,"[cluster house_locale_0.25, cluster house_loca...",N/A
17,LARS_7,0.165708,-2.220446e-16,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0
42,GLM_22,0.165708,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.25)"
36,GLM_16,0.165714,9.237275e-04,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0)"
41,GLM_21,0.165714,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0)"

In [32]:
validate_scores.sort_values(by='RMSE').head(44)

,Name,RMSE,r^2 score,Features,Parameters
11,LARS_1,0.165662,-2.220446e-16,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0
6,OLS_1,0.165662,1.610305e-03,"[cluster house_tax_0.25, cluster house_tax_0.5...",N/A
22,GLM_2,0.165662,9.807110e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.25)"
31,GLM_11,0.165667,5.333598e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0)"
21,GLM_1,0.165670,5.874369e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0)"
32,GLM_12,0.165671,4.138311e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.25)"
15,LARS_5,0.165681,-2.220446e-16,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0
8,OLS_3,0.165681,6.356042e-04,"[cluster house_sizing_0.25, cluster house_sizi...",N/A
23,GLM_3,0.165695,7.252713e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.5)"
33,GLM_13,0.165704,3.459827e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.5)"
9,OLS_4,0.165708,1.027523e-03,"[cluster house_locale_0.25, cluster house_loca...",N/A
17,LARS_7,0.165708,-2.220446e-16,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0
42,GLM_22,0.165708,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.25)"
36,GLM_16,0.165714,9.237275e-04,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0)"
41,GLM_21,0.165714,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0)"
24,GLM_4,0.165714,8.289590e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 0.75)"
43,GLM_23,0.165717,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.5)"
13,LARS_3,0.165718,-2.220446e-16,"[cluster house_details_0.3333333333333333, clu...",Alpha: 0
7,OLS_2,0.165719,9.272864e-04,"[cluster house_details_0.3333333333333333, clu...",N/A
34,GLM_14,0.165722,2.939456e-04,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 0.75)"
44,GLM_24,0.165726,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 0.75)"
25,GLM_5,0.165727,1.509888e-03,"[cluster house_tax_0.25, cluster house_tax_0.5...","Power,Alpha: (0, 1)"
26,GLM_6,0.165728,4.638292e-04,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0)"
45,GLM_25,0.165734,NaN,"[bathrooms, bedrooms, area, garagecarcnt, gara...","Power,Alpha: (0, 1)"
35,GLM_15,0.165735,1.032045e-03,"[cluster house_sizing_0.25, cluster house_sizi...","Power,Alpha: (0, 1)"
19,LARS_9,0.165741,1.521549e-03,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Alpha: 0
27,GLM_7,0.165741,1.517857e-03,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.25)"
10,OLS_5,0.165742,1.610305e-03,"[bathrooms, bedrooms, area, garagecarcnt, gara...",N/A
28,GLM_8,0.165747,1.105991e-03,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.5)"
37,GLM_17,0.165751,8.114479e-04,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.25)"
29,GLM_9,0.165753,8.759799e-04,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 0.75)"
30,GLM_10,0.165756,9.801278e-04,"[cluster house_details_0.3333333333333333, clu...","Power,Alpha: (0, 1)"
38,GLM_18,0.165760,7.143774e-04,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.5)"
39,GLM_19,0.165766,NaN,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 0.75)"
40,GLM_20,0.165770,NaN,"[cluster house_locale_0.25, cluster house_loca...","Power,Alpha: (0, 1)"
18,LARS_8,0.165792,6.518911e-04,"[cluster house_locale_0.25, cluster house_loca...",Alpha: 0.1
16,LARS_6,0.165792,1.023595e-03,"[cluster house_sizing_0.25, cluster house_sizi...",Alpha: 0.1
14,LARS_4,0.165792,1.354881e-03,"[cluster house_details_0.3333333333333333, clu...",Alpha: 0.1
12,LARS_2,0.165792,9.337761e-04,"[cluster house_tax_0.25, cluster house_tax_0.5...",Alpha: 0.1
20,LARS_10,0.165792,6.377027e-04,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Alpha: 0.1
5,Polynomial_5,0.165808,-1.968622e-04,"[bathrooms, bedrooms, area, garagecarcnt, gara...",Degree: 2
0,pred_median,0.166007,-2.220446e-16,N/A,N/A
3,Polynomial_3,0.166113,-3.865864e-03,"[cluster house_sizing_0.25, cluster house_sizi...",Degree: 2
1,Polynomial_1,0.166329,-6.453410e-03,"[cluster house_tax_0.25, cluster house_tax_0.5...",Degree: 2

In [33]:
def score_on_test(X_test, y_test, X_train, y_train):
    #reset y_test variable to remove scores from previous model
    y_test = y_test[['logerror', 'pred_median']]

    #find rmse of baseline predictions 
    test_pred_rmse = mean_squared_error(y_test.logerror, y_test.pred_median, squared=False)

    #creates dataframe to hold model score on test set
    test_score = pd.DataFrame([['pred_median', test_pred_rmse, 0, 'N/A', 'N/A']], columns=['Name','RMSE', 'r^2 score','Features', 'Parameters'])

    #select parameters or features for final modeling on test set
    #test_selectors = [(['bedrooms', 'area', 'county_Orange County', 'home_size_large'], 2)]
    test_features = ['basementsqft', 'area', 'lotsizesquarefeet', 'structuretaxvaluedollarcnt', 'home_value',
                     'landtaxvaluedollarcnt', 'tax_per_sqft', 'poolcnt_1.0', 'cluster house_details_0.3333333333333333', 'cluster house_details_1.0']
    test_parameters = (0,0)
    test_selectors = [(test_features, test_parameters)]

    #fit and use the model that scored highest on validate set
    #test_score, holder = pf_mod(X_test, y_test, test_selectors, test_score, X_train, y_train)
    test_score, holder = GLM_mod(X_test, y_test, test_selectors, test_score, X_train, y_train)

    #adds correct model name to data frame
    test_score.iat[1, 0] = 'GLM_1'

    #add r^2 score 
    test_score.iat[1,2] = explained_variance_score(y_test['logerror'], y_test.iloc[:,2])
    print(y_test.iloc[:,2])

    return test_score

In [34]:
model.score_on_test(X_test, y_test, X_train, y_train)

id
2181062    0.029651
2709432    0.047428
1440501    0.027753
2035409    0.017902
1561917    0.008309
             ...
2507645    0.018767
932951     0.017117
943748     0.001332
1965404    0.023953
2371483    0.024684
Name: GLM_1, Length: 10348, dtype: float64

,Name,RMSE,r^2 score,Features,Parameters
0,pred_median,0.153141,0.00000,N/A,N/A
1,GLM_1,0.152837,0.00039,"[basementsqft, area, lotsizesquarefeet, struct...","Power,Alpha: (0, 0)"