In [12]:
#### Import Section
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import env
import wrangle_zillow
from os.path import exists

from itertools import product
from scipy.stats import levene , pearsonr, spearmanr, mannwhitneyu, f_oneway, ttest_ind
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, TweedieRegressor, LassoLars
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import RFE, f_regression, SelectKBest

import warnings
warnings.filterwarnings("ignore")

In [13]:
# !!!!!!!! WRITE UP A MODULE DESCRIPTION

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_zillow_data():
    '''
    Reads in all fields from the customers table in the mall_customers schema from data.codeup.com
    
    parameters: None
    
    returns: a single Pandas DataFrame with the index set to the primary customer_id field
    '''

    sql = """
    SELECT 
        prop.*,
        predictions_2017.logerror as logerror,
        aircon.airconditioningdesc as aircon,
        arch.architecturalstyledesc as architecture,
        buildclass.buildingclassdesc as building_class, 
        heating.heatingorsystemdesc as heating,
        landuse.propertylandusedesc as landuse, 
        story.storydesc as story,
        construct_type.typeconstructiondesc as construct_type
    FROM properties_2017 prop
    JOIN (
        SELECT parcelid, MAX(transactiondate) AS max_transactiondate
        FROM predictions_2017
        GROUP BY parcelid
        ) pred USING (parcelid)
    JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                        AND pred.max_transactiondate = predictions_2017.transactiondate
    LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
    LEFT JOIN airconditioningtype aircon USING (airconditioningtypeid)
    LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
    LEFT JOIN buildingclasstype buildclass USING (buildingclasstypeid)
    LEFT JOIN heatingorsystemtype heating USING (heatingorsystemtypeid)
    LEFT JOIN storytype story USING (storytypeid)
    LEFT JOIN typeconstructiontype construct_type USING (typeconstructiontypeid)
    WHERE propertylandusedesc IN ("Single Family Residential", "Inferred Single Family Residential") 
        AND transactiondate like '%%2017%%';
    """

    if exists('zillow_data.csv'):
        df = pd.read_csv('zillow_data.csv')
    else:
        df = pd.read_sql(sql, get_connection('zillow'))
        df.to_csv('zillow.csv', index=False)
    return df

def nulls_by_col(df):
    num_missing = df.isnull().sum()
    percnt_miss = num_missing / df.shape[0] * 100
    cols_missing = pd.DataFrame(
        {
            'num_rows_missing': num_missing,
            'percent_rows_missing': percnt_miss
        }
    )
    return cols_missing

def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prnt_miss})
    rows_missing = rows_missing.reset_index().groupby(['num_cols_missing', 'percent_cols_missing']).count().reset_index()

    return rows_missing

In [14]:
def engineer_features(df):
    """
    """

    #remove unwanted columns, and reset index to id --> for the exercises
    #age
    df['age'] = 2022 - df['yearbuilt']

    #log error bin
    df['logerror_bin'] = pd.cut(df.logerror,[-6, df.logerror.mean() - df.logerror.std(), 
                            df.logerror.mean() + df.logerror.std(), 10],labels=['<-1sig','-1sig~1sig','>1sig'])
    
    #rename 
    df = df.rename(columns={'fips': 'county',
                            'bedroomcnt': 'bedrooms', 
                            'bathroomcnt':'bathrooms', 
                            'calculatedfinishedsquarefeet': 'area', 
                            'taxvaluedollarcnt': 'home_value',
                            'yearbuilt': 'year_built', 
                            'taxamount': 'tax_amount', 
                            })
    
    # #### Decades: 
    # #create list to hold labels for decades
    # decade_labels = [x + 's' for x in np.arange(1870, 2030, 10)[:-1].astype('str')]

    # #assign decades created from range to new decades column in dataset and apply labels
    # df['decades'] = pd.cut(df.year_built, np.arange(1870, 2030, 10), labels=decade_labels, ordered=True)

    #### Home Size
    #use quantiles to calculate subgroups and assign to new column
    q1, q3 = df.area.quantile([.25, .75])
    df['home_size'] = pd.cut(df.area, [0,q1,q3, df.area.max()], labels=['small', 'medium', 'large'], right=True)

    #### Estimated Tax Rate
    df['est_tax_rate'] = df.tax_amount / df.home_value

    df.county = df.county.map({6037: 'LA County', 6059: 'Orange County', 6111: 'Ventura County'})

    return df

In [15]:
def summarize(df):
    print('-----')
    print('DataFrame info:\n')
    print (df.info())
    print('---')
    print('DataFrame describe:\n')
    print (df.describe())
    print('---')
    print('DataFrame null value asssessment:\n')
    print('Nulls By Column:', nulls_by_col(df))
    print('----')
    print('Nulls By Row:', nulls_by_row(df))
    numerical_cols = df.select_dtypes(include='number').columns.to_list()
    categorical_cols = df.select_dtypes(exclude='number').columns.to_list()
    print('value_counts: \n')
    for col in df.columns:
        print(f'Column Names: {col}')
        if col in categorical_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort=False, dropna=False))
            print('---')
    print('Report Finished')
    return

In [16]:
def handle_missing_values(df, prop_required_columns=0.60, prop_required_row=0.75):
    threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)

    return df

In [17]:
def split_data(df):
    train_validate, test = train_test_split(df, test_size= .2, random_state=514)
    train, validate = train_test_split(train_validate, test_size= .3, random_state=514)
    print(train.shape, validate.shape, test.shape)
    return train, validate, test

In [18]:
def scale_split_data (train, validate, test):
    #create scaler object
    scaler = MinMaxScaler()

    # create copies to hold scaled data
    train_scaled = train.copy(deep=True)
    validate_scaled = validate.copy(deep=True)
    test_scaled =  test.copy(deep=True)

    #create list of numeric columns for scaling
    num_cols = train.select_dtypes(include='number')

    #fit to data
    scaler.fit(num_cols)

    # apply
    train_scaled[num_cols.columns] = scaler.transform(train[num_cols.columns])
    validate_scaled[num_cols.columns] =  scaler.transform(validate[num_cols.columns])
    test_scaled[num_cols.columns] =  scaler.transform(test[num_cols.columns])

    return train_scaled, validate_scaled, test_scaled

In [19]:
def prep_zillow (df):
    """ 
    Purpose
        Perform preparation functions on the zillow dataset
    Parameters
        df: data acquired from zillow dataset
    Output
        df: the unsplit and unscaled data with removed columns
    """
    df = engineer_features(df)

    df = df.drop(columns=['parcelid', 'buildingqualitytypeid','censustractandblock', 'calculatedbathnbr',
                        'heatingorsystemtypeid', 'propertylandusetypeid', 'year_built', 
                        'rawcensustractandblock', 'landuse', 'fullbathcnt', 'finishedsquarefeet12',
                        'assessmentyear', 'regionidcounty','regionidzip', 'regionidcity','tax_amount'])
    df = df.set_index('id')

    #fill na values
    df.heating.fillna('None', inplace=True)
    df.aircon.fillna('None', inplace=True)
    df.basementsqft.fillna(0,inplace=True)
    df.garagecarcnt.fillna(0,inplace=True)
    df.garagetotalsqft.fillna(0,inplace=True)
    df.unitcnt.fillna(1,inplace=True)
    df.poolcnt.fillna(0, inplace=True)

    #fix data types
    col_to_fix = ['propertycountylandusecode',
                'propertyzoningdesc']

    for col in col_to_fix:
        df[col] = df[col].astype('str')

    # handle the missing data --> decisions made in advance
    df = handle_missing_values(df, prop_required_columns=0.64)

    # take care of unitcnts (more than 1 and was not nan when brought in)
    df = df[df["unitcnt"] == 1]

    # take care of any duplicates:
    df = df.drop_duplicates()

    #drop na/duplicates --> adjust this for project. think of columns to impute
    df = df.dropna()

    df.drop(columns="unitcnt",inplace=True)
    
    #split the data
    train, validate, test = split_data(df)

    #scale the data
    train_scaled, validate_scaled, test_scaled = scale_split_data(train, validate, test)

    return df, train, validate, test, train_scaled, validate_scaled, test_scaled

In [20]:
def wrangle_zillow():
    """ 
    Purpose
        Perform acuire and preparation functions on the zillow dataset
    Parameters
        None
    Output
        df: the unsplit and unscaled data
        X_train:
        X_train_scaled:
        X_validate:
        X_validate_scaled:
        X_test:
        X_test_scaled:
    """
    #initial data acquisition
    df = get_zillow_data()
    
    #drop columns that are unneeded, split data
    df, train, validate, test, train_scaled, validate_scaled, test_scaled = prep_zillow(df)

    #summarize the data
    summarize(df)

    return df, train, validate, test, train_scaled, validate_scaled, test_scaled

In [21]:
df = wrangle_zillow()

(28985, 24) (12423, 24) (10352, 24)
-----
DataFrame info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51760 entries, 1727539 to 1187175
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   basementsqft                51760 non-null  float64
 1   bathrooms                   51760 non-null  float64
 2   bedrooms                    51760 non-null  float64
 3   area                        51760 non-null  float64
 4   county                      51760 non-null  object
 5   garagecarcnt                51760 non-null  float64
 6   garagetotalsqft             51760 non-null  float64
 7   latitude                    51760 non-null  float64
 8   longitude                   51760 non-null  float64
 9   lotsizesquarefeet           51760 non-null  float64
 10  poolcnt                     51760 non-null  float64
 11  propertycountylandusecode   51760 non-null  object
 12  propertyzoningdesc          51760 non-null  object
 13  roomcnt                     51760 non-null  float64
 14  structuretaxvaluedollarcnt  51760 non-null  float64
 15  home_value                  51760 non-null  float64
 16  landtaxvaluedollarcnt       51760 non-null  float64
 17  logerror                    51760 non-null  float64
 18  aircon                      51760 non-null  object
 19  heating                     51760 non-null  object
 20  age                         51760 non-null  float64
 21  logerror_bin                51760 non-null  category
 22  home_size                   51760 non-null  category
 23  est_tax_rate                51760 non-null  float64
dtypes: category(2), float64(17), object(5)
memory usage: 9.2+ MB
None
---
DataFrame describe:

       basementsqft     bathrooms      bedrooms          area  garagecarcnt  \
count  51760.000000  51760.000000  51760.000000  51760.000000  51760.000000
mean       0.616538      2.297952      3.305564   1918.598957      0.674981
std       29.471366      1.010962      0.933927    994.307377      0.982263
min        0.000000      0.000000      0.000000    128.000000      0.000000
25%        0.000000      2.000000      3.000000   1268.000000      0.000000
50%        0.000000      2.000000      3.000000   1657.000000      0.000000
75%        0.000000      3.000000      4.000000   2301.000000      2.000000
max     3560.000000     13.000000     11.000000  21929.000000     14.000000

       garagetotalsqft      latitude     longitude  lotsizesquarefeet  \
count     51760.000000  5.176000e+04  5.176000e+04       5.176000e+04
mean        171.748918  3.402188e+07 -1.181935e+08       1.122456e+04
std         253.430493  2.737400e+05  3.567407e+05       8.669043e+04
min           0.000000  3.334085e+07 -1.194754e+08       2.360000e+02
25%           0.000000  3.382656e+07 -1.183998e+08       5.580750e+03
50%           0.000000  3.402164e+07 -1.181519e+08       6.837000e+03
75%         432.000000  3.418688e+07 -1.179289e+08       8.776000e+03
max        4251.000000  3.481877e+07 -1.175546e+08       6.971010e+06

            poolcnt       roomcnt  structuretaxvaluedollarcnt    home_value  \
count  51760.000000  51760.000000                5.176000e+04  5.176000e+04
mean       0.212365      1.906723                1.947939e+05  5.242664e+05
std        0.408986      3.154312                2.507426e+05  7.109900e+05
min        0.000000      0.000000                1.290000e+02  3.254000e+03
25%        0.000000      0.000000                7.702825e+04  1.935095e+05
50%        0.000000      0.000000                1.313730e+05  3.727900e+05
75%        0.000000      5.000000                2.246910e+05  6.157250e+05
max        1.000000     15.000000                9.164901e+06  2.538125e+07

       landtaxvaluedollarcnt      logerror           age  est_tax_rate
count           5.176000e+04  51760.000000  51760.000000  51760.000000
mean            3.294725e+05      0.018186     58.691074      0.013335
std             5.188245e+05      0.175688     22.957546      0.005620
min             1.610000e+02     -4.655420      6.000000      0.000094
25%             7.557475e+04     -0.024590     43.000000      0.011634
50%             2.176410e+05      0.006911     62.000000      0.012325
75%             4.073015e+05      0.040482     72.000000      0.013677
max             2.233550e+07      5.262999    144.000000      0.493647
---
DataFrame null value asssessment:

Nulls By Column:                             num_rows_missing  percent_rows_missing
basementsqft                               0                   0.0
bathrooms                                  0                   0.0
bedrooms                                   0                   0.0
area                                       0                   0.0
county                                     0                   0.0
garagecarcnt                               0                   0.0
garagetotalsqft                            0                   0.0
latitude                                   0                   0.0
longitude                                  0                   0.0
lotsizesquarefeet                          0                   0.0
poolcnt                                    0                   0.0
propertycountylandusecode                  0                   0.0
propertyzoningdesc                         0                   0.0
roomcnt                                    0                   0.0
structuretaxvaluedollarcnt                 0                   0.0
home_value                                 0                   0.0
landtaxvaluedollarcnt                      0                   0.0
logerror                                   0                   0.0
aircon                                     0                   0.0
heating                                    0                   0.0
age                                        0                   0.0
logerror_bin                               0                   0.0
home_size                                  0                   0.0
est_tax_rate                               0                   0.0
----
Nulls By Row:    num_cols_missing  percent_cols_missing     id
0                 0                   0.0  51760
value_counts:

Column Names: basementsqft
(-3.561, 356.0]     51731
(356.0, 712.0]         15
(712.0, 1068.0]         7
(1068.0, 1424.0]        3
(1424.0, 1780.0]        0
(1780.0, 2136.0]        2
(2136.0, 2492.0]        0
(2492.0, 2848.0]        0
(2848.0, 3204.0]        1
(3204.0, 3560.0]        1
Name: basementsqft, dtype: int64
---
Column Names: bathrooms
(-0.013999999999999999, 1.3]     9484
(1.3, 2.6]                      26496
(2.6, 3.9]                      11432
(3.9, 5.2]                       3600
(5.2, 6.5]                        571
(6.5, 7.8]                        103
(7.8, 9.1]                         65
(9.1, 10.4]                         5
(10.4, 11.7]                        3
(11.7, 13.0]                        1
Name: bathrooms, dtype: int64
---
Column Names: bedrooms
(-0.012, 1.1]      627
(1.1, 2.2]        8226
(2.2, 3.3]       23173
(3.3, 4.4]       15065
(4.4, 5.5]        3908
(5.5, 6.6]         625
(6.6, 7.7]         102
(7.7, 8.8]          23
(8.8, 9.9]           8
(9.9, 11.0]          3
Name: bedrooms, dtype: int64
---
Column Names: area
(106.198, 2308.1]     38928
(2308.1, 4488.2]      11645
(4488.2, 6668.3]        975
(6668.3, 8848.4]        156
(8848.4, 11028.5]        39
(11028.5, 13208.6]       12
(13208.6, 15388.7]        1
(15388.7, 17568.8]        2
(17568.8, 19748.9]        0
(19748.9, 21929.0]        2
Name: area, dtype: int64
---
Column Names: county
LA County         33413
Orange County     14003
Ventura County     4344
Name: county, dtype: int64
Column Names: garagecarcnt
(-0.015, 1.4]    36069
(1.4, 2.8]       14752
(2.8, 4.2]         869
(4.2, 5.6]          45
(5.6, 7.0]          15
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
---
Column Names: garagetotalsqft
(-4.252000000000001, 425.1]    38252
(425.1, 850.2]                 13134
(850.2, 1275.3]                  321
(1275.3, 1700.4]                  37
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
---
Column Names: latitude
(33339373.083, 33488642.6]      751
(33488642.6, 33636434.2]       3181
(33636434.2, 33784225.8]       6037
(33784225.8, 33932017.4]      10876
(33932017.4, 34079809.0]       8934
(34079809.0, 34227600.6]      12272
(34227600.6, 34375392.2]       4565
(34375392.2, 34523183.8]       1748
(34523183.8, 34670975.4]       2175
(34670975.4, 34818767.0]       1221
Name: latitude, dtype: int64
---
Column Names: longitude
(-119477336.781, -119283338.0]      159
(-119283338.0, -119091260.0]       1285
(-119091260.0, -118899182.0]       1050
(-118899182.0, -118707104.0]       1769
(-118707104.0, -118515026.0]       3779
(-118515026.0, -118322948.0]       9167
(-118322948.0, -118130870.0]       9928
(-118130870.0, -117938792.0]      11139
(-117938792.0, -117746714.0]       9054
(-117746714.0, -117554636.0]       4430
Name: longitude, dtype: int64
---
Column Names: lotsizesquarefeet
(-6734.775000000001, 697313.4]    51741
(697313.4, 1394390.8]                 8
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
---
Column Names: poolcnt
(-0.002, 0.1]    40768
(0.1, 0.2]           0
(0.2, 0.3]           0
(0.3, 0.4]           0
(0.4, 0.5]           0
(0.5, 0.6]           0
(0.6, 0.7]           0
(0.7, 0.8]           0
(0.8, 0.9]           0
(0.9, 1.0]       10992
Name: poolcnt, dtype: int64
---
Column Names: propertycountylandusecode
0100    26405
122     12961
0101     6337
1111     3347
1        1042
1110      996
0104      364
0103       86
010G       78
0108       53
010M       50
0109       16
0113        6
0110        6
0102        3
0105        3
0111        2
0133        1
0131        1
1112        1
0114        1
0130        1
Name: propertycountylandusecode, dtype: int64
Column Names: propertyzoningdesc
None         18406
LAR1          6408
LARS          1379
LBR1N         1109
SCUR2          707
             ...
LPRS*            1
LYR1             1
NOR1VV           1
LCR17500         1
BFA15000*        1
Name: propertyzoningdesc, Length: 1262, dtype: int64
Column Names: roomcnt
(-0.016, 1.5]    37280
(1.5, 3.0]          78
(3.0, 4.5]         499
(4.5, 6.0]        5836
(6.0, 7.5]        3597
(7.5, 9.0]        3977
(9.0, 10.5]        338
(10.5, 12.0]       139
(12.0, 13.5]        10
(13.5, 15.0]         6
Name: roomcnt, dtype: int64
---
Column Names: structuretaxvaluedollarcnt
(-9035.773000000001, 916606.2]    50875
(916606.2, 1833083.4]               732
(1833083.4, 2749560.6]               95
(2749560.6, 3666037.8]               35
(3666037.8, 4582515.0]                8
(4582515.0, 5498992.2]                7
(5498992.2, 6415469.4]                2
(6415469.4, 7331946.6]                1
(7331946.6, 8248423.8]                4
(8248423.8, 9164901.0]                1
Name: structuretaxvaluedollarcnt, dtype: int64
---
Column Names: home_value
(-22123.997, 2541053.6]     50944
(2541053.6, 5078853.2]        634
(5078853.2, 7616652.8]        122
(7616652.8, 10154452.4]        33
(10154452.4, 12692252.0]       10
(12692252.0, 15230051.6]        5
(15230051.6, 17767851.2]        5
(17767851.2, 20305650.8]        3
(20305650.8, 22843450.4]        1
(22843450.4, 25381250.0]        3
Name: home_value, dtype: int64
---
Column Names: landtaxvaluedollarcnt
(-22174.34, 2233694.9]      51299
(2233694.9, 4467228.8]        338
(4467228.8, 6700762.7]         87
(6700762.7, 8934296.6]         15
(8934296.6, 11167830.5]        11
(11167830.5, 13401364.4]        4
(13401364.4, 15634898.3]        2
(15634898.3, 17868432.2]        1
(17868432.2, 20101966.1]        2
(20101966.1, 22335500.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
---
Column Names: logerror
(-4.666, -3.664]        2
(-3.664, -2.672]        0
(-2.672, -1.68]        26
(-1.68, -0.688]       103
(-0.688, 0.304]     50298
(0.304, 1.296]       1202
(1.296, 2.287]         75
(2.287, 3.279]         52
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
---
Column Names: aircon
None         38538
Central      11640
Yes           1567
Wall Unit       15
Name: aircon, dtype: int64
Column Names: heating
Central       20409
None          18319
Floor/Wall    12443
Forced air      512
Solar            63
Baseboard         7
Radiant           4
Gravity           2
Yes               1
Name: heating, dtype: int64
Column Names: age
(5.861, 19.8]      2865
(19.8, 33.6]       5909
(33.6, 47.4]       6918
(47.4, 61.2]      10164
(61.2, 75.0]      16826
(75.0, 88.8]       3855
(88.8, 102.6]      4033
(102.6, 116.4]     1004
(116.4, 130.2]      165
(130.2, 144.0]       21
Name: age, dtype: int64
---
Column Names: logerror_bin
-1sig~1sig    47569
>1sig          2469
<-1sig         1722
Name: logerror_bin, dtype: int64
Column Names: home_size
medium    25949
small     12961
large     12850
Name: home_size, dtype: int64
Column Names: est_tax_rate
(-0.0014, 0.0494]    51673
(0.0494, 0.0988]        62
(0.0988, 0.148]         17
(0.148, 0.198]           2
(0.198, 0.247]           1
(0.247, 0.296]           2
(0.296, 0.346]           1
(0.346, 0.395]           0
(0.395, 0.444]           0
(0.444, 0.494]           2
Name: est_tax_rate, dtype: int64
---
Report Finished